[2012-04-28 20:54] igorsobreira opened #1 "Add support for multiple keys"
http://tools.ietf.org/html/draft-pantos-http-live-streaming-07#section-8.4

[2012-04-28 20:55] igorsobreira opened #2 "Add "duration" and "title" from #EXTINF:<duration>,<title>"

[2012-04-28 20:55] igorsobreira opened #3 "Handle #EXT-X-ENDLIST"

[2012-04-28 20:57] igorsobreira opened #4 "Add support for multiple bitrates"
http://tools.ietf.org/html/draft-pantos-http-live-streaming-08#section-6.2.4

http://tools.ietf.org/html/draft-pantos-http-live-streaming-08#section-8.5

[2012-05-02 13:16] #2 closed, assigned to nobody

[2012-05-02 13:30] jbochi opened #5 "Translate relative paths to absolute paths"
If the playlist refers to paths relative to the m3u8 path, the parser should translate them to absolute paths

[2012-05-02 14:30] igorsobreira opened #6 "`m3u8.load()`: load from file"

[2012-05-02 14:30] igorsobreira opened #7 "`m3u8.load()`: load from url"

[2012-05-02 14:36] igorsobreira opened #8 "M3U8.dumps() build m3u8 as string"

[2012-05-02 18:41] #7 closed, assigned to igorsobreira

[2012-05-02 18:42] #6 closed, assigned to igorsobreira

[2012-05-03 18:31] igorsobreira opened #9 "create .files attribute"

[2012-05-07 16:53] #9 closed, assigned to nobody

[2012-05-07 17:13] #8 closed, assigned to igorsobreira

[2012-05-07 18:08] #5 closed, assigned to igorsobreira

[2012-05-07 18:33] #4 closed, assigned to igorsobreira

[2012-05-07 18:37] igorsobreira opened #10 "should be able to create m3u8 from scratch"
Today we need to provide a m3u8 as string to create a `m3u8.M3U8` object. We should be able to create one from scratch:

example:

[code]

The main usage will be to create variant streams index files.

[2012-05-17 21:44] #10 closed, assigned to hltbra

[2012-05-17 21:51] jbochi opened #11 "M3U8 doesn't understand relative paths"
We need to handle segments that have a relative path to the m3u8.

For instance, this is a m3u8 created by FMS 4.5.1:

[code]

[2012-05-18 14:23] jbochi opened #12 "basepath should be set for dumps only"

[2012-05-18 19:37] #11 closed, assigned to hltbra

[2012-09-26 20:02] audetto opened #13 "Handle quotes in parse_stream_inf"
Hi,
I've found a m3u8 file like that
# EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=645000,RESOLUTION=512x288,CODECS="avc1.77.30, mp4a.40.5"

parse stream_inf line around 84 fails because it splits CODECS="avc1.77.30, mp4a.40.5" at the comma
 CODECS="avc1.77.30,
 mp4a.40.5"

I've tried to use csv, but it does not work, I think because the quoting is only for the part after = and not the whole string be

[2012-09-27 14:32] jbochi opened #14 "#EXT-X-ENDLIST is not dumped"

[2012-09-27 14:35] #14 closed, assigned to nobody

[2012-09-27 14:44] #13 closed, assigned to nobody

[2012-09-27 20:47] kutu opened #15 "error when upgrade/install via pip"
py2.7, win7

[code]

[2012-10-08 19:39] jbochi opened #17 "Package installation fails"
[code]

[2012-10-08 19:42] #17 closed, assigned to nobody

[2012-10-08 20:11] #15 closed, assigned to nobody

[2013-02-22 06:37] kormoc opened #22 "Subtitles are not supported"
Subtitles should be processed and at least some data presented to the end user. Apple has an example m3u8 with subtitles at
https://devimages.apple.com.edgekey.net/resources/http-streaming/examples/bipbop_16x9/bipbop_16x9_variant.m3u8

[2013-06-18 23:07] igutekunst opened #24 "Ability to write m3u8 file"
It would be useful to be able to dynamically create an object representing a stream (with substreams), and output it to a file or stdout. This could be used to create custom HLS servers with non-standard behaviour.

[2013-06-18 23:07] #24 closed, assigned to nobody

[2013-06-26 21:36] ericbuehl opened #26 "int type for bandwidth and program-id fields"
The spec states that both bandwidth and program-id are of type "decimal-integer".  Wouldn't it be best to a) validate and 2) parse these as ints rather than str which they are currently?

[2014-08-06 02:57] skyline75489 opened #32 "Add Python3 Support"
I want to use m3u8 in my project which is written in Python 3. Sadly I found that m3u8 itself doesn't support Python 3. Is there a plan to support Python 3 in the future?

[2014-08-19 20:10] leandromoreira opened #33 "Open playlist in read mode only"
Since it's not required to write.

[2014-08-19 20:36] #33 closed, assigned to nobody

[2014-08-19 21:33] #3 closed, assigned to nobody

[2014-08-20 00:00] flavioribeiro opened #34 "Define an option to execute test_strict_validations on runtests"

[2014-08-20 01:36] flavioribeiro opened #35 "m3u8 load() function should discover if parameter is URL or content"
I personally don't like two functions to load m3u8 (loads() and load()). I think we might just have one function that discovers if the argument is a m3u8 URL or its content.

We can deprecate one of the functions on the next version and remove it after two or three tags.

[2014-08-20 02:35] #35 closed, assigned to nobody

[2014-08-20 18:23] #32 closed, assigned to nobody

[2014-08-25 07:16] drakeguan opened #36 "Segments in playlist (through EXT-X-STREAM-INF)"
Parsing .m3u8 file with referencing other .m3u8 files, indicating that alternative renditions
   of the content are available for playback of that variant stream. The current implementation cannot handle it.

Given a `TOS-trailer.m3u8` file:

[code]

With `TOS-trailer.hls/p0.m3u8` like:

[code]

code snippets:

[code]

[2014-08-30 16:16] #36 closed, assigned to nobody

[2014-09-05 13:07] leandromoreira opened #37 "Add attribute PROGRAM-DATE-TIME"
Parse playlist and add attribute PROGRAM-DATE-TIME to model

[2014-09-05 13:40] #37 closed, assigned to nobody

[2014-09-08 17:14] #26 closed, assigned to nobody

[2014-09-08 18:12] #1 closed, assigned to nobody

[2015-01-05 04:36] kormoc commented on #22
Hey folks,

Sorry for letting this drop. As I'm sure you can guess, I've moved on to other stuff and I personally have no more need for this. That said, I would love to see it added so in the future other folks will have the support they need.

Thanks!

[2015-01-05 14:00] flavioribeiro commented on #22
ok @kormoc, I'll leave this issue opened until we implement it or receive a PR. Thank you!

[2015-02-13 07:57] netrounds-fredrik opened #38 "Remove arrow depencency"
I think this looks like a nice and simple library for parsing m3u8 playlists, but one thing that kind of ruined that impression was when I realized that it depended on arrow. I'm not saying arrow is a bad library, but it's way to big (with all it's own dependencies) for what it's used for in this project.

Currently arrow is used for two operations:
* One in parser.py: `arrow.get(value).datetime`.

[2015-02-19 18:27] flavioribeiro commented on #38
@netrounds-fredrik +1 on this. Would you mind sending a pull request?

[2015-03-03 10:15] netrounds-fredrik commented on #38
Created a pull request. All unit tests passes.

[2015-03-03 13:34] #38 closed

[2015-05-19 22:49] GrumpyOldTroll opened #42 "Incorrect child absolute_uri values generated from base_uri."
Passing the original url as the base_uri input parameter to M3U8 constructor (as the description in its help text describes) makes incorrect absolute_uri paths for the child objects.

This code exercises the problem against one of Apple's sample streams:
[code]

My expectation is that m.playlist[0].absolute_uri would be "https://devimages.apple.com.edgekey.net/streaming/examples/bipbop_4x3/gear1/p

[2015-05-19 23:04] GrumpyOldTroll commented on #42
It's possible to work around this issue with something like:
[code]

But it seems more awkward than probably was intended, I'm guessing?

Would you accept a fix for this which just changes the semantics of base_uri (and the associated tests), or would it be necessary to add a new parameter, like source_uri, which would behave this way (leaving base_uri alone for backward compatibility)?

[2015-05-19 23:26] GrumpyOldTroll opened #43 "m3u8.Media objects have no absolute_uri and don't respect base_uri and base_path from parents."
Unlike all the rest of the downloadable objects, the Media objects (entries in the Playlist.media list, in M3U8.playlists) have no absolute_uri property that's affected by the parent's base_path and base_uri parameters.

[2015-05-19 23:53] GrumpyOldTroll opened #44 "Comments are not preserved through loads() + dumps()"
The hls spec permits comments (c.f. https://tools.ietf.org/html/draft-pantos-http-live-streaming-16#section-4.1, 3rd paragraph).

Some tools use comments to provide extensions to compatible players (such as brightcove zencoder). Preserving comments in their proper locations would interoperate better with such tools.

Here's an example of a playlist with a brightcove-like comment, and which fails t

[2015-05-21 16:55] GrumpyOldTroll opened #45 "KEYFORMAT and KEYFORMATVERSIONS not supported in EXT-X-KEY"
New fields were added to EXT-X-KEY tag since the original writing:
http://tools.ietf.org/html/draft-pantos-http-live-streaming-16#section-4.3.2.4

[2015-06-03 03:49] #45 closed

[2015-06-03 03:49] #43 closed

[2015-06-03 04:08] leandromoreira commented on #42
@GrumpyOldTroll Although I agree it is awkward, I think if this fixes the issue, okay. What you guys think @jbochi @flavioribeiro @hltbra @lucasmundim @danielfm ?

[2015-06-03 22:44] danielfm commented on #42
Actually I don't find that awkward at all...

[2015-07-22 18:43] GrumpyOldTroll opened #49 "non-m3u8 files are silently parsed as a m3u8 with nothing inside"
Try parsing, for instance, the output from "curl http://example.com/nonexistant.m3u8". No warning or error

[2015-07-22 20:43] GrumpyOldTroll opened #51 "Undeclared dependency on non-default package "arrow""
[code]

See:
https://github.com/globocom/m3u8/commit/f50cad56e32f3560553bfe47594abcf29fb2a7d9#diff-e71ff7deeaabd2314ed6d0843bde8ae5R9

This seems to be just inside the tests, but there is no new dependency added to setup.py for the arrow package, but the tests no longer run successfully without installing it after the referenced commit.

[2015-07-22 23:23] GrumpyOldTroll opened #52 "tests in latest master branch are failing even with arrow (media_sequence and cue_out)"
[code]

This output follows from a clean run: mkdir tmp; cd tmp; mkvirtualenv test1; git clone https://github.com/globocom/m3u8.git; pip install arrow; cd m3u8; ./runtests

[2015-07-24 19:50] #51 closed

[2015-07-24 19:51] leandromoreira commented on #42
@GrumpyOldTroll can you make a PR with that solution?

[2015-07-25 03:30] leandromoreira commented on #49
@GrumpyOldTroll thanks :+1: I'm gonna close this issue since the PR was merged, if you're not okay with that I can reopen it.

[2015-07-25 03:30] #49 closed

[2015-07-27 19:13] GrumpyOldTroll commented on #52
When I run ./runtests in a clean pull, I still see these 4 errors. Unless I'm doing something wrong, the referenced checkin adding the arrow dependency fixed https://github.com/globocom/m3u8/issues/51 but NOT this issue?

[2015-07-28 01:07] leandromoreira commented on #52
Thanks @GrumpyOldTroll I'll try to test it later on my machine.

[2015-07-28 05:30] GrumpyOldTroll commented on #42
I have evolved my solution slightly, but I think nearly equivalently. I encountered another problem, for which the proposed solution still had a similar problem, with http://hls.ted.com/talks/2297.m3u8. Here I see non-url absolute paths such as "/talks/2297/subtitles/en.m3u8" inside the master m3u8, which given a base url of "http://hls.ted.com/talks/2297.m3u8" should resolve to "http://hls.ted.co

[2015-07-31 15:54] #42 closed

[2015-08-09 15:19] audetto opened #55 "broken python3 support"
https://github.com/globocom/m3u8/commit/4e3e6726ea74ba7ad44e4d552c9c853ea31da97a

has broken python3 support

import exceptions

is not needed and "exceptions.Exception" is now simply "Exception"

in parser.py

[2015-08-22 03:31] gabrielfalcao opened #56 "X-KEY should be rendered for the first segment"
The HEAD of the repository doesn't currently print the X-KEY attribute for the first item of the playlist.
Here is [an example from the RFC](http://tools.ietf.org/html/draft-pantos-http-live-streaming-13#section-8.4) where the first segment already has a key.

[2015-08-22 03:37] gabrielfalcao opened #57 "Segment.__str__() causes TypeError"
calling `str(segment)` causes `TypeError` because the `Segment.dumps` method requires an argument.
This issue is similar to #56

[2015-09-08 09:59] netrounds-fredrik commented on #38
I see that arrow has been reintroduced as dependency for the unit tests in f50cad56e32f3560553bfe47594abcf29fb2a7d9. What was the reason for this?

[2015-10-09 23:55] sloh opened #58 "if EXT-X-KEY:METHOD=NONE, get TypeError: __init__() takes at least 4 arguments (3 given)"
in model.py > Class Segment() > __init__() for the following line:
[code]

if a segment has "#EXT-X-KEY:METHOD=NONE", it is missing the uri parameter needed for class Key(), its init function:
[code]

I believe uri should also be an optional parameter according to this documentation:
[code]
http://tools.ietf.org/html/draft-pantos-http-live-streaming-16#section-4.3.2.4

[2015-10-13 10:39] ghtyrant commented on #55
Same for me.

[code]

[code]

[code]

[2015-10-14 19:57] audetto opened #59 "Unresolved confilct in master"
This change

https://github.com/globocom/m3u8/commit/836bafb63980abcc4237469b845e94fd5bffece1

has still unresolved conflicts in

m3u8/__init__.py

[2015-10-15 04:04] leandromoreira commented on #59
fixed at https://github.com/globocom/m3u8/pull/61 thanks

[2015-10-15 04:04] #59 closed

[2015-10-15 14:18] leandromoreira opened #62 "Migrate to new travis infrastructure"
http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

[2015-10-15 14:22] #62 closed

[2015-10-16 21:04] leandromoreira commented on #55
It was done! thanks @audetto https://pypi.python.org/pypi/m3u8/0.2.7

[2015-10-16 21:04] #55 closed

[2015-10-20 12:31] leandromoreira commented on #57
@gabrielfalcao hey can you check it again? I think this PR https://github.com/globocom/m3u8/pull/65 solved the issue.

[2015-10-31 19:08] netrounds-fredrik opened #66 "Different time parsing functions used in library vs test code"
The use of the arrow library was removed in https://github.com/globocom/m3u8/pull/40 (https://github.com/globocom/m3u8/issues/38), but then re-added in for the tests in https://github.com/globocom/m3u8/commit/f50cad56e32f3560553bfe47594abcf29fb2a7d9. So currently the m3u8 library and it's tests are using different time parsing functions.

Is there a reason for doing this?

[2015-10-31 20:40] leandromoreira commented on #66
I don't know if there is any reason, can @Neon-Dlea help us here? ;) Anyway I think we should at least use the same *time parsing functions*, thanks @netrounds-fredrik

[2015-11-02 15:51] flavioribeiro commented on #66
Yep, mind sending a PR removing arrow from the tests and `requirements-dev`?

[2015-11-22 00:37] leandromoreira commented on #57
I'm gonna close this one, @gabrielfalcao if you notice that https://github.com/globocom/m3u8/pull/65 didn't solve your case I'll be happy to reopen this.

[2015-11-22 00:37] #57 closed

[2015-11-28 15:36] audetto opened #67 "How to handle encryption"
Hi,

I've been using this m3u8 library to download .m3u8 files.
Now I found one with encryption

http://lb.cdn.m6web.fr/s/cu/prime/vod/protected/7/e/b/Enquete-exclusive_c11529756_Daesh-la-multinat/Enquete-exclusive_c11529756_Daesh-la-multinat_400k.mp4.m3u8

the top looks like this

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:7
#EXT-X-PLAYLIST-TYPE:VOD
#EXT-X-FAXS-CM:URI="Enquete-exclusive_c1152

[2015-11-28 16:11] leandromoreira commented on #67
http://docs.aws.amazon.com/elastictranscoder/latest/developerguide/content-protection.html

https://support.brightcove.com/en/video-cloud/docs/protecting-videos-devices-hls-encryption

[2015-11-28 16:52] audetto commented on #67
that is a start.
have you got any experience with it?
I am a bit worried about the URI

URI="faxs://faxs.adobe.com"

[2016-02-24 21:40] generalash opened #68 "Ignore blank lines in m3u8 file"
I came across a stream with blank lines in the m3u8 file, between each stream info line and uri. In the protocol for these files, it states the blank lines should be ignored. When I ran the parser on it though the uri was being set as an empty string. If I add the following to the for loop in the parse function (in parser.py) it ignores these lines:

`# Ignore blank lines`
` if line == "":`
`conti

[2016-02-24 23:58] leandromoreira commented on #68
go ahead @generalash lol

[2016-02-25 15:05] #68 closed

[2016-05-26 19:35] besweeet commented on #67
Any progress on this?

[2016-07-14 03:45] ilyalissoboi opened #72 "BANDWIDTH format change on Twitch playlists"
It appears that Twitch.tv is breaking/changing specification by producing master playlists that have bandwidth described by a floating point number instead of an integer.

An example of such a playlist can be seen [here](http://pastebin.com/TUUT1YvZ).

Is it possible to accommodate that change by changing the expected bandwidth format in the module?

[2016-07-14 11:23] leandromoreira commented on #72
I think we should let it parsed to `int` as is stated by the ["official spec"](https://tools.ietf.org/html/draft-pantos-http-live-streaming-19)

[2016-07-14 12:24] leandromoreira commented on #72
@globocom/videos3 any thoughts?

[2016-07-15 21:04] flavioribeiro commented on #72
based on the example provided by @ilyalissoboi we can receive as float and cast to int

[2016-07-27 11:52] ziima opened #73 "EXTINF tag with optional comma?"
m3u8 library requires EXTINF tag to have title, but the title is optional, see https://tools.ietf.org/html/draft-pantos-http-live-streaming-09#section-3.3.2

[2016-07-27 11:56] ziima commented on #73
I stand corrected, the comma is required. The problem is I get playlists where the comma is missing. Can we make it optional?

[2016-07-27 18:16] leandromoreira commented on #73
[code]

**The remainder of the line following the comma is an optional human-**
**readable informative title of the Media Segment expressed as raw**

Does it mean, comma is required? is it what follows aka title?

When I see the pattern `#EXTINF:<duration>,[<title>]` I think `,` is mandatory, what are you thoughts?

[2016-07-27 19:16] ziima commented on #73
It looks like the specification defines comma as required. But I ran into playlists which lacks the commas, which complicates usage of the m3u8 parser.

Maybe we can allow comma to be missing, possibly according to some `strict` parameter. That would also match common principle "Be strict in what you send, but generous in what you receive".

[2016-07-27 20:37] leandromoreira commented on #73
@ziima I think it's okay, since it's a option maybe by the main entry point `m3u8.load(url, options)`

[2016-08-24 14:20] #73 closed

[2016-09-02 19:30] ziima opened #79 "Add function to merge segment playlists"
In case I want to play live stream, I download the playlist from one location and get few segments from continuing stream. I'd like have an function which merges these chunks to single playlist.

Playlist examples:

[code]

[code]

[2016-09-02 19:44] leandromoreira commented on #79
@ziima can you explain it a little bit more? :) maybe give us examples of your idea, what is your wish. Are these two playlists from different bitrates?

[2016-09-02 19:56] ziima commented on #79
I can point you to my script: https://github.com/ziima/televize/blob/master/televize.py#L77-L99

`LiveStream.update` is what I want. The `playlist` there is M3U8 object.

The playlists are from the same bitrates.

[2016-09-02 20:02] leandromoreira commented on #79
@ziima do you want to generate a single VOD playlist from a live playlist?

[2016-09-02 20:07] ziima commented on #79
Sounds correct. I'm a bit lost in the terminology.

[2016-09-02 20:07] leandromoreira commented on #79
The major problem though is that we need to keep track of the data we're merging... and if someone is using this library as part of a *distributed system* it shouldn't work as expected unless we can enforce that a given playlist is being "watched" uniquely from a single node.

[2016-10-02 15:40] PhilippeR opened #82 "Custom HTTP Headers"
Hi,
Is it possible to customize request HTTP Headers ?
Tks.
Philippe

[2016-10-02 16:14] leandromoreira commented on #82
I'm sorry, can you give an example of what you want to do?

[2016-10-02 16:36] PhilippeR commented on #82
Add custom http headers or override standard HTTP header like user Agent in http request.
We can imagine m3u8_obj=m3u8.load(value, headers)

Exemples:
X-Playback-Session-Id: 8ECAD943-8CC6-40B5-8550-E64EE579BB0D
X-MYCUSTOM-HEADER: Let's Go
Connection: keep-alive
Accept: */*
User-Agent: AppleCoreMedia/1.0.0.14A456 (iPad; U; CPU OS 10_0_2 like Mac OS X; fr_fr)
Accept-Language: fr-fr
Accept-Encoding:

[2016-10-02 18:22] leandromoreira commented on #82
It isn't possible to this now but it sounds like a fair feature and it needs to be [compatible for p2 and p3](https://github.com/globocom/m3u8/tree/master/m3u8#L13-L19).

[code]

[2016-10-02 19:38] PhilippeR commented on #82
Thanks ;-)
Believe me, It makes sense to choose them sometimes.,

[2016-10-04 22:28] bertothunder commented on #67
@audetto the URI for the key is managed by Adobe DRM in Flash. The player recognizes the URI format to obtain the key data from Adobe DRM system.

Do I assume right that you are trying to unencrypt the content to play it?

[2016-10-05 08:54] bertothunder commented on #58
I can confirm URI should be optional, if METHOD=NONE then most of encoders or packagers won't add URI onto it.

[2016-10-05 14:10] birme opened #85 "Support for Envivio flavored HLS markers"
Envivio encoders provide a bit different flavour of HLS SCTE 35 cue markers. Would be great to have support for these.

PS: I will provide a PR for this

[2016-10-05 17:14] leandromoreira commented on #85
Can we close this one?

[2016-10-05 17:18] birme commented on #85
Sure!

[2016-10-05 17:22] #85 closed

[2016-10-05 18:45] audetto commented on #67
Yes,

Is there any chance to do it?

[2016-10-05 18:53] bertothunder commented on #67
@audetto to do what? unencrypt the content? manage the Adobe DRM URI? It's out of scope for a m3u8 parser, not to mention it breaks a copyrighted DRM and goes against the law.

[2016-10-05 18:55] audetto commented on #67
I am not expecting this project to do it,

but as there are a lot of people with experience on m3u8 playlist, someone might have found similar cases and could point me to a web source where such a process is described.

[2016-10-05 19:10] bertothunder commented on #67
You should google for it, but I sincerely doubt you'll find anything on it. DRM encryption is tough unless a key leakage is found.

@leandromoreira IMHO the issue can be safely closed, what do you think?

[2016-10-05 19:57] #67 closed

[2016-10-05 20:08] bertothunder commented on #56
@leandromoreira I can confirm this works with my contribution yesterday. I've created a test with the manifest mentioned by @gabrielfalcao  and it works as expected now.

[2016-10-05 20:27] leandromoreira commented on #56
Thank you again (you're amazing)

[2016-10-05 20:27] #56 closed

[2016-10-05 20:37] gabrielfalcao commented on #56
Cheers!

[2016-10-10 04:21] davidjameshowell commented on #58
I can confirm the same. Encountered this most recently with content that I had been using that has  METHOD=None. I had to get the script working, so I just went through and edited it to return none for the key for the time being until a fix is rolled.

[2016-10-10 10:49] leandromoreira commented on #58
@davidjameshowell try now with @birme fixes (you need to checkout the master)

[2016-10-10 20:44] bertothunder commented on #58
@leandromoreira fix from @birme is wrong: the URI is **optional**, but his fix forces URI to be empty string (not None), so the fix drops the URI even if provided.

Check my commit, it fixes the issue and brings a new test for this.

[2016-10-10 20:53] bertothunder opened #89 "Modify strictness"
The 'strict' parameter in parser and M3U8 class has little effect, with very bold strictness checking being applied while parsing the input M3U8 manifest.

How 'strict' must the strict parameter force the parser to be? I can think about several levels of strictness checking:

 - Check deprecated or non-supported tags based on version.
 - Check for tag's format and mandatory parameters.
 - Check fo

[2016-10-10 21:46] bertothunder commented on #58
So my fix is wrong as well as the original fix for this issue. As the uri must NOT be present (as pointed out by Bradley).

So, as pointed out by the author, uri must be none in the constructor to avoid the original error.

[2016-10-10 23:07] leandromoreira commented on #58
Now, I'm confused, should I revert some commits?

[2016-10-11 04:42] birme commented on #58
I understand what you mean and will fix. If method is NONE uri is optional but if provided it should remain intact

[2016-10-11 04:45] birme commented on #58
Disregard this comment. Saw the other thread. According to spec if method is none no following attributes must be present. So go ahead and revert my fix as the original problem it solves was not a problem...

[2016-10-11 07:57] bertothunder commented on #58
Well, thinking about it, I did actually close my pull request too soon.

The important thing here is, what are we trying to achieve? sticking to the standard, or broad compatibility? I've seen output from encoders and packagers that will add EXT-X-KEY tags with method=NONE, and an optional URI. That's why I was wrong about the standard itself.

If the parser has to stick to the RFC (strict mode?)

[2016-10-11 09:47] bradleyfalzon commented on #58
Note, my comment in PR #88 was only to clarify the RFC, however, the adage `Be conservative in what you send, be liberal in what you accept` is appropriate, unless there's real world evidence of requiring the non-standard support, I think accepting the malformed RFC and silently discarding the URI is likely best.

Note, I do not use this library, but I do help maintain a similar Go based m3u8 pars

[2016-10-11 16:35] BCDevSupport commented on #58
https://tools.ietf.org/html/draft-pantos-http-live-streaming-06#section-3.3.3

This seems to imply that it should either be a key or none if included, unless I'm reading the RFC wrong?

[2016-10-11 16:36] davidjameshowell commented on #58
https://tools.ietf.org/html/draft-pantos-http-live-streaming-06#section-3.3.3

This seems to imply that it should either be a key or none if included, unless I'm reading the RFC wrong?

[2016-10-11 18:17] leandromoreira commented on #58
@davidjameshowell I think we should rely on the latest version of it https://tools.ietf.org/html/draft-pantos-http-live-streaming-20#section-4.3.2.4

[code]

[2016-10-15 12:10] #72 closed

[2016-10-18 13:28] redstoneleo opened #92 "Any way to get the video byte size an m3u8 url referenced to ?"

[2016-10-18 21:01] leandromoreira commented on #92
I think you can get that by looking at the response header `content-length` but then you need to either download the chunk or issue a `HEAD` request. While I was searching through the [official documentation](https://tools.ietf.org/html/draft-pantos-http-live-streaming-20), I couldn't find any metadata with this information.

And specifically in this lib you could change this request to delivery t

[2016-10-19 15:35] redstoneleo commented on #92
While I was searching through the official documentation, I find this relevant

so  the sum of the  sizes (in bits) of every Media Segment is equal to the Media Playlist duration times the average segment bit rate.
I just don't know if this lib could actually return the Media Playlist duration and the average segment bit rate for an m3u8 url

[2016-10-19 16:43] redstoneleo opened #93 "the behavior of M3U8(builtins.object).files"
[code]
(1) what should I do to get the absolute URIs of all the segments?
(2) I think `M3U8(builtins.object).files` should return all the URIs of the segments , but why present the key uri along with them ? This makes the result difficult to use , for example if I want to use the returned result to download all the chunks, then I have to judge whether the first element is a  key uri or not, so ann

[2016-10-19 23:54] leandromoreira commented on #93
1) It should be the [`base_uri`](https://github.com/globocom/m3u8/blob/master/m3u8/model.py#L184)
2) I think it's reasonable to keep all the [**files**](https://github.com/globocom/m3u8/blob/master/m3u8/model.py#L105) from the playlist on `.files` and you can filter only ts files

Let's leave this open so more people can give their opinions.

[2017-01-13 20:32] baco opened #94 "Add the ability to set headers for URI"
Some sites require setting some headers like ``Referer`` or ``Cookie``, even the ``UserAgent`` sometimes, to access the the content and don't be filtered by the webserver. Using ``m3u8.load()`` won't allow you to setup anything of the sort.

Of course, it is possible to bypass the issue by making the request by hand using ``urllib.request`` module and then ``m3u8.loads()`` but it adds extra  compl

[2017-01-13 23:27] leandromoreira commented on #94
Hi @baco thank you for commenting, so what do you really want to have is the ability to add `header` for all the requests?

[2017-01-18 15:03] baco commented on #94
Yes, sorry; I've asked for `data` field but `header` was the one I am needing right now. I am updating the issue in accordance.

[2017-01-18 17:28] leandromoreira commented on #94
@baco I'll close this one since it's the same as https://github.com/globocom/m3u8/issues/82 do you agree?

[2017-01-19 11:59] baco commented on #94
Agreed ☺️

[2017-01-19 18:58] #94 closed

[2017-01-20 17:26] redstoneleo commented on #93
also, it seems file segments returned by M3U8(builtins.object).files doesn't in the order they appear in the whole video, any solution to correct this ?

[2017-02-09 16:24] roneyrogerio opened #97 "Value Error in EXT-X-STREAM-INF:BANDWIDTH with float number"
I'm trying to pass a m3u8 that I do not have access to any server configuration, I can not change any m3u8 parameters

The error
[code]
The m3u8
[code]

[2017-02-09 18:47] leandromoreira commented on #97
@roneyrogerio I thought we fixed that a long time ago https://github.com/globocom/m3u8/pull/91/files are you using the newer version?

[2017-02-09 18:55] roneyrogerio commented on #97
I did not try to update, I think it will solve the problem, thanks

[2017-03-04 15:26] Xonshiz opened #98 "dumping the streams"
I was looking for some kind of detailed documentation on this, but failed.
I have this m3u8 url :

[code]

I wanted to dump the file. Can I do it with this lib? If yes, how?

[2017-03-05 00:06] leandromoreira commented on #98
If you just want to dump it, maybe you could use something simple like Curl.

[2017-03-05 03:40] Xonshiz commented on #98
I wanted to remove any external dependency like livestreamer etc. Wanted everything to be in Pythons libs. Using FFmpeg now. :)

[2017-03-05 03:40] #98 closed

[2017-03-28 09:55] stoyanovgeorge opened #101 "SSL Error Handling"
When you parse an https m3u8 manifest file without valid SSL certificate the load function crashes reporting ssl.CertificateError and since the load function is based on URLLIB it would be nice if you could add the load(url, verify = False) statement, to skip the SSL check.

[2017-04-08 04:13] denex opened #102 "Doesn't parse #EXT-X-MAP attribute in m3u8"
Some playlists contain #EXT-X-MAP:URI="fileSequence0.mp4" and this attribute doesn't processed.

https://tools.ietf.org/html/draft-pantos-http-live-streaming-21#section-4.3.2.5

[2017-04-12 13:57] leandromoreira commented on #102
https://github.com/globocom/m3u8/pull/103#pullrequestreview-32380019

[2017-04-12 13:57] #102 closed

[2017-04-12 14:02] #97 closed

[2017-08-29 11:48] denex opened #104 "Error parsing line #EXT-X-MAP:URI="main.mp4",BYTERANGE="812@0""
Apple 'Advanced stream (HEVC/H.264)' reference has #EXT-X-MAP:URI="main.mp4",BYTERANGE="812@0" attribute. This attribute parses as segment_map_uri with incorrect value 'main.mp4",BYTERANGE="812@0'. But should be parsed as separate 'uri' and 'byterange'.

Link to m3u8:
https://tungsten.aaplimg.com/VOD/bipbop_adv_example_hevc/tp10/iframe_index.m3u8

Link to examples:
https://developer.apple.com/stre

[2017-08-29 16:11] #104 closed

[2017-09-12 15:28] budziq opened #107 "m3u8.dump() throws when relative filepath does not contain any directories"
[code]

It fails due to `_create_sub_directories` assumption that a filepath will have a `basename` which is not a case for relative paths without directories such as "master.m3u8". This might be an edge case but it has cost me few minutes of debugging ;)

[2017-09-13 01:04] #107 closed

[2017-10-02 07:34] mfojtak opened #109 "#EXT-X-MAP:URI and #EXT-X-PROGRAM-DATE-TIME ignored in dump"
The **#EXT-X-PROGRAM-DATE-TIME** is ignored when dumping m3u8 object to string.

Also the segment level **#EXT-X-PROGRAM-DATE-TIME** is ignored.
The global one gets dumped ok.

[2017-10-02 14:20] eventh opened #110 "#EXT-X-MEDIA uri is optional"
I have a m3u8 master playlist with an ext-x-media tag without any uri attribute.
It is an audio group where the uri is found in an #EXT-X-STREAM-INF.

The parser fails when I use base_path, because setting base_path calls
os.path.dirname(self.uri), when self.uri is None.

File "/usr/local/lib/python3.6/site-packages/m3u8/mixins.py", line 33, in base_path
    return os.path.dirname(self.uri)

Accor

[2017-10-02 14:24] eventh commented on #110
I would be happy to contribute a fix, but I'm not sure what would be the preferred way of solving this issue. Should the uri be made optional, or should it be read from the ext-x-stream-inf?

[2017-10-15 13:15] #110 closed

[2017-12-29 15:39] #12 closed

[2018-01-24 16:35] pavloivanchyshyn opened #116 "Live streaming: check if manifest has been updated"
AFAIK, for the Live streaming, it's required to reload manifest at least after 'target_duration' for the first time and if the manifest has not changed then it must wait for a period of one-half the target duration before retrying.

So, it would be great to have an ability to check if the manifest has been already updated (e.g. using previous content).
As another possible version, it might have an

[2018-01-25 11:37] leandromoreira commented on #116
I think this logic might be something to the application using the `m3u8` library, for instance, we built a monitoring tool for our live streams and there resides this logic, or re-downloading the m3u8.

[2018-01-25 11:41] pavloivanchyshyn commented on #116
Exactly. But this logic is common. Everyone should monitor their live streams and reload them if manifest was not changed.
I guess it makes sense to add this logic to the m3u8 library to make it reusable for each user of m3u8 instead of implementing the same thing by everyone.

[2018-01-25 12:10] leandromoreira commented on #116
Cool, so let's this open then.

[2018-01-25 18:06] flavioribeiro commented on #116
not a commiter on this one but will give my two cents. `m3u8` was made to be a simple stateless module for HLS manifests so I wonder if maintaining update cycles or states within the module would go in the opposite direction of the module's idea.

I'd rather create _another_ component that uses m3u8 and keep states and update cycles for live as a open source module so everyone can use it the same

[2018-03-02 09:09] alochym01 opened #117 "how to sort the playlists"
`
#EXTM3U

#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=160000,RESOLUTION=192x144
https://newsabc.com/144.m3u8?v=e0ae030e

#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=1693333,RESOLUTION=1280x720
https://newsabc.com/720.m3u8?v=e0f76255

#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=1000000,RESOLUTION=640x480
https://newsabc.com/480.m3u8?v=ac8970e9

#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=506666,RESOLUTION=480

[2018-03-02 13:44] leandromoreira commented on #117
I think you can rely on python's power:

[code]

[2018-03-05 02:57] #117 closed

[2018-07-09 16:51] mbakholdina opened #121 "AUDIO, VIDEO, SUBTITLES attributes support in StreamInfo object"
Is it possible to add AUDIO, VIDEO, SUBTITLES attributes support along with CLOSED-CAPTIONS in StreamInfo object when parsing #EXT-X-STREAM-INF tag? It would be more convenient to get an access to this info directly instead of going through all media objects.

[2018-07-10 08:38] mbakholdina opened #122 "stream_info.closed_captions returns "cc" instead of cc"
stream_info.closed_captions returns "cc" instead of cc without quotation marks

[code]

[2018-07-19 00:37] hsahovic opened #123 "Parsing extended #EXTINF tags"
### Context

According to [Wikipedia](https://en.wikipedia.org/wiki/M3U), m3u is a _de facto_ standard, which implies that its implementation might vary across different platforms, software or use cases.

In particular, I have recently been confronted with a couple of implementations that are not compliant with [this spec](https://tools.ietf.org/html/draft-pantos-http-live-streaming-20), which see

[2018-07-19 02:03] leandromoreira commented on #123
Nice @hsahovic but how do you think to add this extension points? like passing extra functions/classes?  (can you express your ideas with simple example code? like...)
[code]

@flavioribeiro is a pythonista and maybe he can help us here too.

[2018-07-19 22:48] hsahovic commented on #123
@leandromoreira I was thinking of modifying the `parse` function's signature from:

[code]

To something along the lines of:

[code]

The default behavior of the function would remain the same, but with `accept_extended_tags` set to `True`,  a script such as

[code]

would print `{'title': 'Be1 Name', 'duration': -1.0, 'cue_out': False, 'uri': 'http://channel.stream.address/to_be_placed/on_separat

[2018-07-19 23:09] leandromoreira commented on #123
Nice, I'm okay with that! :) we can let `strict=False` as the default value.

[2018-09-25 09:46] tausackhn opened #124 "Basic support for custom tags"
Sometimes services add custom tags that they use for their own purposes. Custom tags are also started with `#EXT`. Applications are going to ignore them as it is written in RFC8216. But these tags can be also helpful depending on service. Currently, the library ignores custom tags recognizing them as a comment.
What do you think about saving custom tags started with `#EXT` somewhere in the model?

[2018-10-11 11:54] mbakholdina commented on #121
Current result (playlist_1.m3u8)
[code]

Expected result
[code]

**Problem 1:** "cc" instead of cc without quotation marks
**Problem 2:** CLOSED-CAPTIONS attribute and AUDIO, VIDEO, SUBTITLES attributes are parsed at a different levels. CLOSED-CAPTIONS attribute is available via `m3u8_obj.playlists[i].stream_info.closed_captions `
while other attributes via
`m3u8_obj.playlists[i].media`
**Problem

[2018-10-11 13:54] cdunklau commented on #122
Here's a reproduction for this. I suspect the ultimate culprit is that the parser appears to only deal with strings, so it has no real notion of types (e.g. quoted-string, enumerated-string).

[code]

The codecs aren't quoted, but the closed captions id is:

[code]

[2018-10-11 15:14] #122 closed

[2018-11-22 16:49] max-rocket-internet opened #128 "ValueError: could not convert string to float: '0 group-title="AF: Afghanistan"'"
I'm running latest release:

[code]

And `bug.m3u` is random IPTV playlist from the internet:

[code]

[2018-11-26 00:49] mauricioabreu commented on #128
It does not seem to be like an error in the library but in the file.

Here is the draft for the m3u[8] format: https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.2.1

   only to the next Media Segment.  This tag is REQUIRED for each Media
   Segment.  Its format is:
   #EXTINF:<duration>,[<title>]

[2018-11-26 08:41] max-rocket-internet commented on #128
OK makes sense.

It might be nice to raise a proper exception for this though, so it can be caught and dealt with easily.  Something like `TrackMetadataError` or something?

[2018-11-26 16:02] mauricioabreu commented on #128
With `load` it won't be possible.
I guess you need to use the `M3U8` class and initiate it passing `strict=True`.

https://github.com/globocom/m3u8/blob/master/m3u8/model.py#L139

[2018-11-27 20:04] mauricioabreu commented on #128
What is your opinion @max-rocket-internet ?

[2018-11-28 12:45] max-rocket-internet commented on #128
I still think `load` and `loads` should handle badly formatted data with a proper exception but no worries, I think for me this issue is resolved. Thanks for the swift response 🙂

[2018-11-28 12:45] #128 closed

[2018-12-11 11:20] norok2 commented on #123
@hsahovic any progress on this?

[2018-12-11 11:46] norok2 commented on #123
@leandromoreira would you be OK with adding `pyparsing` as a dependency? that would make the parsing of exteded `#EXTINF` so much simpler...

[2018-12-11 12:44] leandromoreira commented on #123
@norok2 I'm ok with new dependencies but I'd like to listen to @flavioribeiro or @hltbra or any other project member on that matter.

@norok2 what would be the `pyparsing` usage?

[2018-12-14 12:15] norok2 commented on #123
@leandromoreira

This for example would do the trick:

    # ======================================================================
    def parse_extinf_extras(text):
        """
        Parse m3u/m3u8's EXTINF extra parameters.

        Args:
            text (str): EXTINF to be parsed.

        Returns:
            parsed (dict): Result of the parsing.

        Examples:

        """
        g_s

[2018-12-14 12:51] leandromoreira commented on #123
Reading the [official documentation](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.2.1):

It didn't specify what you can do at `title field` but once we implement this way we're going to assume that this format `"#EXTINF:-1 tvg-id="Be1.be" tvg-name="Be1 Alt"..."` is genereally used.

My question, is it common to use metadata over title using space separated with field

[2018-12-15 10:58] norok2 commented on #123
I would have no clue about the usage frequency. I guess it depends on the application that you use. Just a side note: your "official" documentation refers to the HTTP Live Streaming (HLS) which is an extension of the UTF-8 version of `m3u`, namely `m3u8`. There is no official documentation for `m3u`/`m3u8`.

Regarding the line to parser. That is actually:

    #EXTINF:<DURATION> [<KEY>="<VALUE>"]*

[2018-12-15 13:34] leandromoreira commented on #123
This lib tries to cover only the `m3u8 for HTTP Live Streaming (HLS)`.

[2018-12-15 19:04] norok2 commented on #123
OK, then I would actually suggest you to update your docs to reflect that. Also, if you would not be willing to add the support for the extra tag, I'll probably write / fork this to a more robust implementation that is not limited to HLS.

[2018-12-15 23:12] leandromoreira commented on #123
I don't mean to be rude but is within the project description.

![screen shot 2018-12-15 at 9 11 11 pm](https://user-images.githubusercontent.com/55913/50048241-edc58d80-00ad-11e9-983b-0642c78848b2.png)

Yes but maybe through extension points.

[2018-12-17 14:45] flavioribeiro commented on #123
I don't see  a big case in favor of adding `pyparsing`. If we'd add this dependency, we'd need to use it in all text parsing across the library to keep consistency.

I'm wondering if it would work better to receive a `custom_tags_func` as the optional parameter on https://github.com/globocom/m3u8/blob/master/m3u8/parser.py#L39 and call it on each [line iteration](https://github.com/globocom/m3u8/b

[2018-12-19 16:58] flavioribeiro commented on #123
refs #124

[2019-01-29 00:00] mauricioabreu commented on #124
Closed via #130

[2019-01-29 00:00] #124 closed

[2019-01-29 00:00] mauricioabreu commented on #124
Hey @tausackhn can you tell us if the change we recently made does what you needed, please?

[2019-01-29 00:07] mauricioabreu commented on #123
@hsahovic does the change in #130 helps you?

[2019-01-29 01:47] mauricioabreu commented on #44
@leandromoreira I think the new `custom_tags_parser` function can solve this issue too. Right?

[2019-01-29 09:49] leandromoreira commented on #44
@mauricioabreu yes but @GrumpyOldTroll should to implement a parser for it since there is not an optional parser PARSE IT ALL into namedtuple or something else

[2019-01-29 10:52] mauricioabreu commented on #44
@leandromoreira comments were not being preserved because they were being ignored by the parse. If users want to retrieve the comments and populate the `data` with them, now they can. But I got you said. There is no way to parse it all into another structure in a fashion way.

[2019-01-29 11:39] leandromoreira commented on #44
In the end, it closes this issue too, impressive on PR closes many issues. Thanks.

[2019-01-29 12:57] TDcloud opened #131 "这是直播源吗？"
具体怎么使用有视频演示的demo吗

[2019-01-30 21:16] tausackhn commented on #124
@mauricioabreu thank you. It covers my needs.

[2019-02-04 01:58] mauricioabreu commented on #82
Support for `custom headers` was added in #95
Closing.

[2019-02-04 01:58] #82 closed

[2019-02-05 01:01] mauricioabreu commented on #66
Related PR: https://github.com/globocom/m3u8/pull/134

[2019-02-05 11:47] mauricioabreu commented on #93
I think it is a semantic problem, right? `files` gives the feel it has only real files (`chunks`)
If we remove the `key_uri` we would break the current API for those who depend on having the `key_uri` inside `files`

[2019-02-06 00:49] mauricioabreu commented on #66
@netrounds-fredrik sorry for the late reply

I guess the problem was Python compatibility. Python 2.6/2.7 did not have an easy way to compare dates with timezones. To solve it I created a class to represent a `tzinfo` to construct a timezone aware date. Thank you for opening this issue!

[2019-02-06 00:49] #66 closed

[2019-03-05 21:52] audetto commented on #121
Not sure this is the same question, but I can see to extract all audio information from this playlist

Is this supported?
I only get the Italian audio track at the bottom, but not the English one.

#EXTM3U
#EXT-X-VERSION:4

#EXT-X-MEDIA:TYPE=SUBTITLES,GROUP-ID="subs",NAME="Italian",DEFAULT=NO,AUTOSELECT=YES,LANGUAGE="ita",CHARACTERISTICS="public.accessibility.transcribes-spoken-dialog, public.acce

[2019-03-07 00:21] mauricioabreu commented on #52
Tests are passing in all Python versions. You can check it [here](https://travis-ci.org/globocom/m3u8)

[2019-03-07 00:21] #52 closed

[2019-03-07 10:20] SuperTommy007 opened #136 "how can i kown this m3u8 file's duration? 'target_duration' seems not it's real duration"

[2019-03-07 10:22] SuperTommy007 commented on #136
![_122](https://user-images.githubusercontent.com/36689187/53949823-d5419e00-4105-11e9-9a02-141b560a1873.png)
m3_u8_obj = m3u8.load(r'https://livenging.alicdn.com/mediaplatform/62ad0659-a8b9-4603-958b-f4034215327d_merge.m3u8')
# print(m3_u8_obj.__dict__)
# print(m3_u8_obj.data)
print(m3_u8_obj.data.get('targetduration'))
17.0

[2019-03-07 11:06] leandromoreira commented on #136
For live content you must multiply the `targetduration` by the amount of segments you have.

[2019-03-07 12:25] mauricioabreu commented on #136
Maybe a good feature could be a `property` with this information. It would work for live and VOD playlists.

[code]

[2019-03-07 15:10] mauricioabreu commented on #136
We could add this property but for `live` playlists it would make less sense. Right?

[2019-03-07 17:54] leandromoreira commented on #136
I don't think we should add any particular property for a live, ideally that property should be available at both kinds of streaming: vod and live. Besides this is easy to calculate, I'm leaning towards to close this issue and move one.

[2019-03-07 18:30] mauricioabreu commented on #136
@leandromoreira me too. This is easy to calculate on the side of the users.

[2019-03-07 19:11] mauricioabreu commented on #136
side-note: that property would be useful both to live and VOD but it would make more sense to VOD because live playlists don't have an ending time.

[2019-03-08 01:57] SuperTommy007 commented on #136
@leandromoreira @mauricioabreu yeah you are right,thanks for answer my question,and i try to calculate it's duration use len(self.segments) * self.target_duration and the result seems a little longer than its real duration ,whatever thank you for your replys

[2019-03-08 02:09] SuperTommy007 commented on #136
`m3_u8_obj = m3u8.load(r'https://livenging.alicdn.com/mediaplatform/343e7e75-ff67-423d-b732-8ca36219697e_merge.m3u8')

print(sum(i.get('duration') for i in m3_u8_obj.data.get('segments')) / 3600
4.342851666666611`
this result is more close to the real duration

[2019-03-10 17:01] mauricioabreu commented on #109
Thank you for the effort to open this issue.
Yes, I guess it is a bug. I just opened a pull request to deal with it: https://github.com/globocom/m3u8/issues/109

[2019-03-19 12:48] #109 closed

[2019-03-19 12:48] mauricioabreu commented on #109
We will release this bugfix in the next version. Thanks again for contributing to this project.

[2019-03-19 12:55] mauricioabreu commented on #136
@SuperTommy007 glad you get it working!

[2019-03-19 12:55] #136 closed

[2019-04-05 01:52] aidanbarrett opened #138 "#EXT-X-CUE-IN and #EXT-X-CUE-OUT are not dumped"
Example source m3u8:
[code]

When it is parsed and dumped to a file the `#EXT-X-CUE-OUT` markers are replaced with `#EXT-X-CUE-OUT-CONT` with no duration and the `#EXT-X-CUE-IN` markers do not appear.

[code]

[2019-04-05 13:52] mauricioabreu commented on #138
Thank you for opening this issue. I will investigate what is happening, and provide a fix if necessary.

[2019-04-05 17:03] mauricioabreu commented on #131
Thank you for opening this issue.
Unfortunately, `Google translator` could not make a good translation of what you said. Could you please update your issue using english?

[2019-04-06 12:49] TDcloud commented on #131
How to use demo with video demonstration?

[2019-04-06 13:35] mauricioabreu commented on #131
What are you trying to achieve? Sorry but what do you mean by "demo"?

[2019-04-09 17:50] mauricioabreu commented on #138
I found the related bug. Fixing it is not so easy so it will take some time to fix.
I hope to deliver the fix in the next version (`0.3.9`)

[2019-04-10 00:02] aidanbarrett commented on #138
Awesome! Thanks for that

[2019-05-20 08:46] clhsieh opened #139 "m3u8.loads with custom_tags_parser raise TypeError"
Here should be
return M3U8(content, custom_tags_parser=custom_tags_parser)
https://github.com/globocom/m3u8/blob/33c8fe6ca7af249c80cb3cd3866abaa40af44f3e/m3u8/__init__.py#L35

[2019-05-20 11:21] mauricioabreu commented on #139
Closed via #140

[2019-05-20 11:21] #139 closed

[2019-05-20 21:43] #131 closed

[2019-05-20 21:43] mauricioabreu commented on #131
Closed.
Reason: lack of feedback.

[2019-06-17 18:31] rahulsai2341 opened #141 "Add PDT tag to segment wihtout DISCONTINUITY tag being True."
I noticed a small discrepancy between the doc and the code. In `model.py`, the PDT(Program-Date-Time) tag for a **segment** is added only when the DISCONTINUITY tag is set to TRUE. This can be found in the method `dump` of class `segment`.

I think these should be independent of each other? The only relation that I could find between them is that if server provides PDT tags, then it must add PDT t

[2019-06-19 18:56] mauricioabreu commented on #141
Does https://github.com/globocom/m3u8/pull/142 solve your problem @rahulsai2341 ?

[2019-06-20 16:13] rahulsai2341 commented on #141
Awesome. Yes it solves my issue. May I know when you would be releasing this into pip? @mauricioabreu

[2019-06-20 17:25] mauricioabreu commented on #141
@rahulsai2341 today!

[2019-06-20 19:58] mauricioabreu commented on #141
@rahulsai2341 released under `0.3.10` Thank you for the report.

[2019-06-20 19:58] #141 closed

[2019-06-22 12:04] Freakwill opened #144 "helper function to download the video"
I just want to download the video instead to know the details of m3u8. Dose the module provide a helper to download and save the video to the local direction, as `download('***.m3u8')` or `m3u8_obj.download`.

[2019-06-22 12:08] mauricioabreu commented on #144
Hello!

No, this library is used to parse `m3u8` content. To download videos from `m3u8` files you can go with [youtube-dl](https://github.com/ytdl-org/youtube-dl)

[2019-06-22 12:08] #144 closed

[2019-07-14 16:00] cbaurtx commented on #123
Hello,

I tried to use custom tags as you proposed to hsahovic and had no luck:
Test m3u:
#EXTM3U
#EXTINF:-1 tvg-id="ARD.de" tvg-logo="ard.png",ARD

Issues:
1. The tag #EXTM3U was sent to my custom parse function. Why?
2. When loading the m3u there is an error and the custom parse function is not called:
   ValueError: could not convert string to float: '-1 tvg-id="ARD.de" tvg-logo="ard.png"'

It

[2019-07-14 18:15] mauricioabreu commented on #123
Hey, thanks for the report @cbaurtx

Answering:

1 - It retrieves the `#EXTM3U` because it starts with `#`. You can ignore it on your side. But if you have any idea, I would be glad to listen to.
2 - It seems to be an error. I noticed you opened a new PR to fix it. I will check it later. Thank you!

[2019-07-16 13:26] hsahovic commented on #123
@cbaurtx Hi ! Sorry for not responding earlier. I ended up using a private fork that implemented this:

Unfortunately, I do not have access to the source anymore as it was hosted on my ex-employer's repo system.
It was implemented using `re`.

[2019-07-30 10:53] gorzynski opened #146 "Add support for FRAME-RATE tag"
Tag `FRAME-RATE` is ignored when parsing and dumping a master playlist.

For example when [master-with-stream-inf-1.m3u8](https://github.com/grafov/m3u8/blob/master/sample-playlists/master-with-stream-inf-1.m3u8), which contains `FRAME-RATE` tag, is loaded:
[code]
And then dumped:
[code]
The `FRAME-RATE` tag is gone:
[code]

The solution would be probably to extend `stream_info` for `Playlist` cla

[2019-07-31 02:35] mauricioabreu commented on #146
Good catch! I just opened a new pull request (with a regression test) to fix this bug.
Thank you!

[2019-07-31 05:12] gorzynski commented on #146
Actually I already made the change yesterday and forgot to open a pull request. I think it might be a little bit fuller since it can dump FRAME-RATE either it `12.5` or `25` format instead of always adding trailing zeros. Tests added as well. Anyway the pull request is #149 if you feel like using it :).

[2019-07-31 11:34] mauricioabreu commented on #146
Your pull request is better than mine. It looks good! Thank you for your contribution.

[2019-07-31 11:36] #146 closed

[2019-08-11 11:39] #123 closed

[2019-08-24 21:13] ChazZeromus opened #155 "EXTINF 0 duration not getting emitted"
I'm not well versed in m3u8 files but this [change](https://github.com/globocom/m3u8/commit/5f20f642656b7b08cadd37ae6d739319209ad12f#diff-fec17f607e26e0fa22d53e02524a5674L385) caused the EXTINF header to not be emitted for falsey durations. I'm not sure if this is intended but I noticed this my tests broke after upgrading since I create fake zero-duration tracks as part of my project's test suite.

[2019-08-25 11:44] mauricioabreu commented on #155
Good catch @ChazZeromus

@leandromoreira reading the RFC, I noticed there is no restrictions to have `EXTINF` durations equal to zero. However, I don't see a reason to have durations to be zero. Opinions?

[2019-08-25 13:29] davemevans commented on #155
Hmm, agree this seems to be an oversight - apologies for that. At the same time, I tend to think a segment duration of zero makes no real-world sense?

Given there is no spec restriction, I guess an appropriate solution would be to change the conditional to `if self.duration is not None:`?

[2019-08-25 15:07] mauricioabreu commented on #155
@davemevans agreed.
I will open a new PR to fix it. Then we can discuss it there.

[2019-08-25 15:10] mauricioabreu commented on #155
Opened #156 to fix it.

[2019-09-10 13:42] bvc3at opened #157 "Add support for EXT-X-SESSION-DATA tag"
`The EXT-X-SESSION-DATA tag allows arbitrary session data to be
   carried in a Master Playlist.`
https://tools.ietf.org/html/rfc8216#section-4.3.4.4

[2019-09-10 17:45] #157 closed

[2019-09-12 03:22] #138 closed

[2019-09-15 06:29] Luro02 opened #162 "spelling mistake"
Very minor complaint, but shouldn't this line be called `PLAYLIST_WITH_ENCRYPTED_SEGMENTS`?
https://github.com/globocom/m3u8/blob/17b81a37309ed3de1214a8feb7ef878a435b9e86/tests/playlists.py#L74

[2019-09-21 10:41] 631068264 opened #164 "StreamInfo can't get all attributes"
[code]

AttributeError: 'StreamInfo' object has no attribute 'name'

[2019-09-27 21:46] mauricioabreu commented on #164
@631068264 how did you generate this playlist?
Following the [RFC](https://tools.ietf.org/html/draft-pantos-http-live-streaming-16#section-4.3.4.2) it looks like `NAME` is not a valid attribute.

[2019-09-27 21:46] #164 closed

[2019-09-27 21:46] mauricioabreu commented on #164
I closed this issue. If you feel we are wrong, please, reopen.

[2019-09-27 21:48] mauricioabreu commented on #162
Thanks for opening this issue. Can you fix it and open a pull request?
We would be very very happy to merge it. 😄

[2019-09-30 14:55] mauricioabreu commented on #101
Closed via #165

[2019-09-30 14:55] #101 closed

[2019-10-01 14:27] mauricioabreu commented on #162
Closed via #167

[2019-10-01 14:27] #162 closed

[2019-11-08 08:13] uenro opened #182 "Add SOCKS4/5, HTTPS proxy support"
Is there a way to download a bunch of m3u8 playlists from website using proxy?
I didn't find any suitable method for it in m3u8 parser.

[2019-11-08 13:53] leandromoreira commented on #182
doesn't it work with system wide proxy?

[2019-11-08 14:20] uenro commented on #182
I think yes but I have several multithreading instances that's why there're more than one requests for downloading m3u8 playlists and using systemwide proxy can't solve this problem

[2019-11-14 10:26] piyushchourasiya opened #183 "#EXT-OATCLS-SCTE35 tag is getting removed"
According to documentation, this library supports the '#EXT-OATCLS-SCTE35' tag. But,
when I used this parser to trim manifest files, SCTE tags were getting removed.

Below are the steps I follow,
1. Downloaded master manifest file[using python request]
2. Passed downloaded master manifest string to m3u8.loads method and got parsed master manifest object[say parsed_master_manifest]
3. Iterated over

[2019-11-14 10:59] davemevans commented on #183
Handling in this case means the library can parse these tags and return useful information from them, but not necessarily  dumped.

I'm just working on improvements to SCTE tag handling so that EXT-X-CUE-OUT and EXT-X-CUE-IN are handled properly and dumped correctly.

I will probably PR this later. However, I wasn't planning to include EXT-OATCLS-SCTE35 since this is not a use case for us.

[2019-11-14 12:36] piyushchourasiya commented on #183
@davemevans thanks for the revert. Should I make the required changes and raise PR if it is fine.

[2019-12-21 21:00] shahinesi opened #186 "URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)>"
[code]

**`URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)>`**

Plz Help me
whats wrong?

[2019-12-21 22:21] mauricioabreu commented on #186
I guess your certificate is not fully valid.

It is not expired but it looks like your certificate needs an intermediate/chain to have a trusted root certificate.

If you still want to use HTTPS, you can load your playlist passing `verify_ssl` to `False`.

Example:

[code]

[2019-12-22 04:46] shahinesi commented on #186
Tnx This Link For Iranian Tv!
But  Return **None**
Why?

[2019-12-22 14:27] mauricioabreu commented on #186
I tried it here and I got a **403 forbidden**. Is there some kind of geoblocking?

[2019-12-22 21:47] leandromoreira commented on #186
or authentication / authorization needed

[2019-12-22 22:52] mauricioabreu commented on #186
@leandromoreira good catch!

Let's wait for @shahinesi answer. I'm curious about the problem behind it.

[2019-12-23 05:10] shahinesi commented on #186
its token **?s=3Kj2P7XiASXNg39jL84NZQ&t=1576966822'**
get [](https://www1.live.irib.ir/?idc=32&idt=tv&idv=19)
![image](https://user-images.githubusercontent.com/16535600/71337202-c8404f00-255f-11ea-8e33-c52d77626b6c.png)

[2019-12-23 12:00] mauricioabreu commented on #186
Ok, I found the problem.

You are trying to load a variant playlist. It is a playlist containing the media playlists, with their specific resolutions, bandwidth and URI to get the streams.

[code]

More info here: https://github.com/globocom/m3u8#variant-playlists-variable-bitrates

[2019-12-24 05:21] shahinesi commented on #186
How do I stream this list?
Also is this library capable of separating audio from the HLS?
For speech recognition

tnx for erly answer

[2019-12-24 12:30] mauricioabreu commented on #186
Sorry, I don't get what you mean. To stream this list, you need to follow the README.md

No. This library is just a m3u8 parser.
You can use ffmpeg to this kind of job.

[2019-12-24 12:30] #186 closed

[2019-12-24 17:25] shahinesi commented on #186
I mean, this HLS Display in Python
and used ffmpeg for hls video to wav stream

[2019-12-24 17:34] mauricioabreu commented on #186
@shahinesi This library only parses m3u8 playlists.
After parsing a playlist, you will end up with all the necessary data to run it through VLC, clappr, hls.js or any other player that supports playing m3u8 playlists.

[2019-12-24 17:36] mauricioabreu commented on #186
https://github.com/globocom/m3u8#variant-playlists-variable-bitrates

Here is a documentation on how to read the variant playlist. You can use the `uri` to parse the media playlist.

[2020-01-03 03:03] luvhighx opened #187 "Remove Expiry from m3u8 link"
Hi Team,
I have m3u8 links, that will expire every24 hrs. Is there any way to remove or exceed expiry date from m3u8 link.
https://sony247channels.akamaized.net/hls/live/2004802/SONYTEN1HD/hdntl=exp=1578104416~acl=%2f*~data=hdntl~hmac=67b9e05bef106c8545b03dfbbb129d66a50eeb0cada2d438497951ec2bde97cf/master_3868.m3u8

[2020-01-03 03:31] leandromoreira commented on #187
nope

[2020-01-03 03:31] #187 closed

[2020-01-17 12:05] wlerin opened #188 "Handling a negative EXT-X-MEDIA-SEQUENCE"
So, this is completely nonstandard (decimal-integer is defined to start at 0), but I have encountered a number of streams that provide a negative media-sequence in conjunction with EXT-X-DISCONTINUITY. Thanks to `normalize_attribute`, this library ends up throwing a ValueError when it tries to cast e.g. "_3" to an int.

Is there any way to work around this? Or can the parser be changed to, well, *

[2020-01-17 13:20] leandromoreira commented on #188
a negative media sequence is really not usual maybe you could pass your own parser, I think we build up something that enables its users to do that isn't that right @mauricioabreu ?

[2020-01-17 13:40] mauricioabreu commented on #188
@wlerin @leandromoreira
I think you can use the `custom_tags_parser` feature: https://github.com/globocom/m3u8#custom-tags but I am not 100% sure if it will work.

[code]

Anyways, I think it could be easier if we just call `abs` inside the m3u8 core. What do you think @leandromoreira ?

[2020-01-17 15:01] wlerin commented on #188
[code]
I suppose I could patch in a try-except someone under `_parse_simple_parameter`

[2020-01-17 16:35] leandromoreira commented on #188
@mauricioabreu I don't think we should do it because it can hide some real world problems (like a negative media sequence) but what do you think @flavioribeiro @igorsobreira

[2020-01-17 18:05] mauricioabreu commented on #188
@leandromoreira agreed!

[2020-01-18 12:19] wlerin commented on #188
In the long run I'd like to see a solution to this in the m3u8 library--e.g. I don't think a value that should be an integer should be having - changed to _, even if a negative value isn't allowed by the specification. But for the meantime inserting this at the top of my code seems to resolve the issue:

[code]

[2020-01-19 01:50] mauricioabreu commented on #188
@wlerin can you check #189 ?

[2020-01-19 02:36] wlerin commented on #188
@mauricioabreu That would solve my issue.

[2020-01-19 04:18] wlerin commented on #188
Fixed with #189

[2020-01-19 04:18] #188 closed

[2020-01-19 12:12] #44 closed

[2020-01-19 20:59] mauricioabreu commented on #188
@wlerin new release 0.5.4

[2020-02-13 07:05] xhlove opened #190 "Add remove segment url by keywords or index support"
Some online video sites return m3u8 content with Ads link, and maybe it can be filtered by keywords such as "/ad/" or regexp rule.
such as : http://puui.qpic.cn/vshpic/0/Q-wtrPHnidCGLo9N6nDpn8qojLtQqgj7i7tnaLX8b_w45Q3f_0/0

[2020-02-13 07:29] #190 closed

[2020-02-13 14:40] davemevans opened #192 "Base Paths/URIs not applied to some types"
Looks like some types that are derived from `BasePathMixin` (at least `PartialSegment`, `InitializationSegment`, `RenditionReport`) do not have their base_path or base_uri updated as they are not considered in the `M3U8` setter methods.

I will put a PR together soon.

[2020-02-18 21:22] #192 closed

[2020-02-24 04:17] xuzheliang135 opened #195 "Why "For unencrypted segments, the initial key would be None"?"
When I read the code,I find the comment “For unencrypted segments, the initial key would be None”.
What is this feature for? When I work with a m3u8, I expect  unencrypted segments return keys as a empty list. (Because I use `for key in keys` to execute, in this case `[None]` is really annoying).

[2020-02-26 02:56] mauricioabreu commented on #195
Here is the full answer: https://github.com/globocom/m3u8#encryption-keys

tl;dr: you can have multiple keys.

[2020-02-26 04:06] #195 closed

[2020-03-14 09:46] SuperTommy007 opened #197 "m3u8.load() always raise URLError(err)\nurllib.error.URLError: <urlopen error [Errno 110] Connection timed out"
m3u8.load() always raise URLError(err)\nurllib.error.URLError: <urlopen error [Errno 110] Connection timed out

example:https://livenging.alicdn.com/mediaplatform/5dfef749-784b-4b37-a08c-73d3fa331283_merge.m3u8

traceback:
Traceback (most recent call last):\n  File \"/home/goumee/.pyenv/versions/3.6.8/lib/python3.6/urllib/request.py\", line 1318, in do_open\n    encode_chunked=req.has_header('Tran

[2020-03-14 09:58] SuperTommy007 commented on #197
it just appear on the cloud server,and  local is fine ,so i think maybe something different in the
 environment  but i really can't find where the difference

[2020-03-14 11:23] leandromoreira commented on #197
see if you're not using proxy, try to do the same curl from the box you're running your program.

[2020-03-16 10:17] SuperTommy007 commented on #197
emmm....i haven't use any proxy,but when i curl in cloud server and local ,i found something diffrent,it return 302 in local and 200 in cloud server
url: https://livenging.alicdn.com/mediaplatform/d60734aa-27c8-42ea-93f6-0b580562a4b4_merge.m3u8
![选区_269](https://user-images.githubusercontent.com/36689187/76746226-1f963a00-67b2-11ea-82f9-91bb7f4904d0.jpg)
![选区_270](https://user-images.githubusercon

[2020-03-16 11:36] leandromoreira commented on #197
yeah because the error is clear: the python process is trying to access this url and it's getting the response from server in due time, so the timeout error is raised.

I don't think this is related to the m3u8 library itself, what you can do is build a small program that connects and show the body of this request and from there you dig further to understand what's happening in your server.

[2020-03-16 12:05] SuperTommy007 commented on #197
thanks for answer my question,i will do more tests to dig it out.

[2020-03-16 12:42] mauricioabreu commented on #197
@SuperTommy007 can you post your code?

[2020-03-17 01:16] SuperTommy007 commented on #197
@mauricioabreu ok

m3u8_url = r'https://livenging.alicdn.com/mediaplatform/%s_merge.m3u8' % feed_id
headers = {
    'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36',
    'referer': 'https://taobaolive.taobao.com/room/index.htm',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'cross-site',

[2020-03-17 11:59] mauricioabreu commented on #197
@SuperTommy007 I used your code snippet (with small changes) and I got a successful response. Check it out:

[code]

Result:

[code]

cURL result:

[code]

[2020-03-19 02:03] SuperTommy007 commented on #197
@mauricioabreu thanks for your help,finally i choose to download the m3u8 file and then load this file ,and it worked.

[2020-03-19 02:55] mauricioabreu commented on #197
I'm happy you managed to get it working! @SuperTommy007

[2020-03-19 02:55] #197 closed

[2020-04-22 03:03] futzu commented on #183
Gentlemen, I have a SCTE35  parser and I could use a m3u8 parser, we should collaborate.
 https://github.com/futzu/SCTE35-threefive

[2020-04-24 02:11] liuyug opened #205 "How to output m3u8 object to m3u8 file?"
It can parse m3u8 file, but how to output?

[2020-04-24 12:54] mauricioabreu commented on #205
What do you mean by "output"? Can you give me an example?

[2020-04-25 14:36] leandromoreira commented on #205
You just need to use the dump function https://github.com/globocom/m3u8/blob/master/m3u8/model.py#L344

[2020-04-26 00:09] liuyug commented on #205
Yes, It's the function, dump. Thanks.
I do not found any documents, so I miss it?

[2020-04-26 07:33] liuyug opened #206 "about #EXTINF"
I have checked "HTTP Live Streaming" protocol that is said the format is ```#EXTINF:<duration>,[<title>]```. Your library follow it.

But I found many M3U instance which format is ```#EXTINF:-1 tvg-id="" ....``` from https://github.com/iptv-org/iptv

May you give me advice how to load and process them?

[2020-04-26 22:02] mauricioabreu commented on #205
@liuyug you are right, there is no documentation for this. I juste pushed a new pull request to cover it. Thank you!

[2020-04-26 22:02] #205 closed

[2020-05-08 14:27] fervenceslau opened #208 "Problem installing package in anaconda"
conda install -c auto m3u8

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - m

[2020-05-08 15:32] leandromoreira commented on #208
m3u8 is available at https://pypi.org/project/m3u8/0.6.0/

I don't know conda, but I think you can either:

* pip install m3u8
* conda install --use-local m3u8

[2020-05-08 17:01] fervenceslau commented on #208
Tried `.\m3u8-master>pip install setup.py` and got these errors:
ERROR: Could not find a version that satisfies the requirement setup.py (from versions: none)
ERROR: No matching distribution found for setup.py

With the conda version, I get the same problem as in the previous post.

However with just `pip install m3u8` it downloads all dependencies:
pip install m3u8
Collecting m3u8
  Downloading m

[2020-05-08 17:34] leandromoreira commented on #208
after you installed `pip install m3u8` it should be available foor you to use: try to use it from a python repl.

[2020-05-28 19:12] antonydeepak opened #210 "Short segment duration is formatted in scientific notation which violates the spec for EXTINF"
Short segments are re-formatted in scientific notation(`e-05`) which violates the [decimal floating point spec](https://tools.ietf.org/html/rfc8216#section-4.3.2.1).

Using the attached file perform the following

[code]

[code]

You can see that `#EXTINF:0.000011` got reformatted into `#EXTINF:1.1e-05`

[2020-05-31 16:46] mauricioabreu commented on #210
Thank you for reporting this bug @antonydeepak
I'm  working to fix it as soon as possible.

[2020-05-31 16:53] antonydeepak commented on #210
Great!! Fix should be fairly straightforward, I guess. It is the default string formatting of python float that produces output in scientific notation.

[2020-06-01 18:33] #210 closed

[2020-06-08 14:11] Nado15 commented on #182
Yeah I agree to that, a feature where we can set a proxy would be nice

[2020-06-13 16:45] mauricioabreu commented on #182
@Nado15 @uenro
master branch has a feature to use your own client to do it. Or you can setup the default HTTP client with `proxies`.

https://github.com/globocom/m3u8#playlists-behind-proxies

[2020-06-13 16:46] mauricioabreu commented on #182
I will reopen this issue if it does not satisfy your requirements.

[2020-06-13 16:46] #182 closed

[2020-06-13 17:09] Nado15 commented on #182
Awesome! Thank you for adding that!

[2020-07-01 21:08] SerhiyRomanov commented on #206
I'm faced with the same issue - I am trying to parse a playlist from my IPTV provider and it contains lines like this
[code]

I don't find any words about this tags here https://tools.ietf.org/html/rfc8216#section-4.3.2.1

Implementation of parsing these tags seems not very complicated, but would it be acceptable?

[2020-07-01 22:47] leandromoreira commented on #206
I think you can use https://github.com/globocom/m3u8#custom-tags

[2020-07-02 02:33] liuyug commented on #206
got it. Thank you

[2020-07-02 02:33] #206 closed

[2020-07-03 20:16] nflux-jchamie opened #215 "ModuleNotFoundError: No module named 'm3u8'"
Getting module not found error, even after installing with pip

[2020-07-03 21:22] leandromoreira commented on #215
hey @nflux-jchamie can you ran the following commands:

[code]

And tell us what happens?

[2020-07-03 21:24] leandromoreira commented on #215
By the way, if you name your test file as m3u8.py, python might be that as a module and you might have some problems too.

[2020-07-03 21:26] #215 closed

[2020-07-09 15:14] thenewguy opened #216 "frame rate should be rounded to 3 decimal places"
Per https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-07#page-41

Should probably use `'FRAME-RATE=%.3g' % self.frame_rate` instead of `'FRAME-RATE=%.5g' % self.frame_rate` at https://github.com/globocom/m3u8/blob/master/m3u8/model.py#L915

[2020-07-09 15:28] leandromoreira commented on #216
Agreed.

[2020-07-09 15:58] mauricioabreu commented on #216
Thank you @thenewguy

[2020-07-09 17:25] thenewguy opened #218 "handle audio channels"
Ref https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-07#page-38

[2020-07-09 21:26] #218 closed

[2020-07-10 14:24] thenewguy opened #220 "detect and raise version if specified too low"
If the version is specified in a playlist that is too low, it should be raised when converted back to a string.

[code]

Ref:
- https://developer.apple.com/documentation/http_live_streaming/about_the_ext-x-version_tag

[2020-07-10 14:26] thenewguy commented on #220
I see there is an [expected failure for this](https://github.com/globocom/m3u8/blob/b99fce0739f57d9b020c44f5ebae1727eee5f225/tests/test_strict_validations.py#L29) - is that because it will not be fixed or that it is waiting implementation?

[2020-07-10 16:11] leandromoreira commented on #220
I don't know @thenewguy it seems very reasonable that m3u8 would check the version matching featuress... but I'm afraid it can broken current usages?!... maybe we could do that but let it off and only turn on when strict is True, what do you think?

cc @mauricioabreu @flavioribeiro @igorsobreira

PS: also maybe this `VersionMatching` thing should be placed into a self component (like a class...) i

[2020-07-11 20:52] thenewguy opened #221 "Output Average Bandwidth for IFramePlaylist"
iframe_stream_info sets average bandwidth to None at https://github.com/globocom/m3u8/blob/master/m3u8/model.py#L847

It should be passed along if available per https://tools.ietf.org/html/rfc8216#section-4.3.4.3 and https://tools.ietf.org/html/rfc8216#section-4.3.4.2

[2020-07-12 00:27] mauricioabreu commented on #220
I think it is ok to make it work when `strict` is on.

[2020-07-12 13:04] #216 closed

[2020-07-17 17:00] rogergodspeed opened #222 "VIDEO-RANGE is not supported in playlist stream_info"
#EXT-X-STREAM-INF:BANDWIDTH=4236849,AVERAGE-BANDWIDTH=4167098,VIDEO-RANGE=SDR,CODECS="avc1.4d401f,mp4a.40.2",RESOLUTION=1280x720,FRAME-RATE=24.000,AUDIO="program_audio_0"

This is pretty common with HDR content now. Older content uses a value of "SDR" (standard dynamic range) for VIDEO-RANGE and new HDR content is usually something like PQ (perceptual quant).

It would be great to support this.

[2020-07-18 06:31] rogergodspeed commented on #222
https://github.com/globocom/m3u8/pull/223

[2020-07-18 20:05] #222 closed

[2020-09-07 05:34] apt42541 opened #228 "Problem with loads or load"
![image](https://user-images.githubusercontent.com/12625408/92351630-684a0280-f106-11ea-837c-510e4112d424.png)
how can i fix this? please help me

[2020-09-07 10:53] #228 closed

[2020-09-17 07:36] lchiocca opened #229 "Add full unicode support"
I know this is a bit wage, but here is my use-case. I'm still using Python 2.7 (I know I should upgrade at some point). I have downloaded a multi-playlist m3u8 file that was encoded as utf-8. I first loaded the file into a string decoding it as utf-8. So I have a unicode string containing the m3u8 data. Parsing it works without any issue. The issue is when converting the m3u8 object back into a st

[2020-10-13 11:40] #221 closed

[2020-10-15 07:10] sp-555 opened #232 "Plz add a button to deploy to heroku . Or give some idea to deploy using heroku-cli."

[2020-10-15 11:56] rokam commented on #232
Hello @sp-555 , that's a lib, so you'll need to use it to be deployable to heroku or any other provider.

[2020-10-15 22:09] mauricioabreu commented on #232
Thank you @rokam for the answer.

[2020-10-15 22:09] #232 closed

[2020-10-21 11:41] viktorfreiman opened #234 "Editing value in playlist.segment_map["uri"] is ignored by parser"
Editing value in `playlist.segment_map["uri"]` is ignored by parser

m3u8-lib version: 0.7.1

[code]

[code]

[code]

There is no diff between `normal_sub_v8.m3u8` and `output.m3u8`

To edit the init #EXT-X-MAP I have found that I need to use the
`playlist.segments[0].init_section.uri = "NEW-INIT-MAP.mp4"`
to make it work

But the problem is that you need to edit for every segment
and if you don't

[2021-01-21 16:32] PSJMcNeill opened #240 "Set #EXT-X-PROGRAM-DATE-TIME"
Currently trying to convert VOD manifest to a an Event manifest.

I would like to set the #EXT-X-PROGRAM-DATE-TIME via my python script for the main manifest.

Is this possible via this package?

[2021-01-22 09:48] #240 closed

[2021-02-04 04:06] kmahyyg opened #241 "[bug] httpclient.py: cannot handle utf-8 data when using `m3u8.load()`"
[code]

Hello, If the m3u8 data in response contains any UTF-8 based CJK chars, the default http client in Python will throw an exception as shown above. Please try to change to another http request library like `requests`.

For temporary solution, the developers might need to deal like this:

[code]

[2021-02-04 11:11] mauricioabreu commented on #241
Hello @kmahyyg

For this reason, we have a way to use a different HTTP client: https://github.com/globocom/m3u8#using-different-http-clients

[2021-02-04 11:17] kmahyyg commented on #241
Thanks for your response.

Why not just build a general version working for everyone?

[2021-02-04 11:17] #241 closed

[2021-02-22 09:54] Horstage opened #242 "Pylint raises no-member"
This code fails pylint review with pylint 2.7.0 (on Python 3.9).
[code]
raises
`E1101: Instance of 'M3U8' has no 'is_endlist' member (no-member)`

I suppose it would happen with all [simple_attributes](https://github.com/globocom/m3u8/blob/master/m3u8/model.py#L130).

[2021-02-22 16:22] leandromoreira commented on #242
yes, given the dynamic nature of it

[2021-02-23 06:42] Horstage commented on #242
Opened PR #243 as suggestion.

[2021-02-23 11:24] leandromoreira commented on #242
Thanks @Horstage , I really appreciate your PR but I think it adds an implicit work, now everytime we want to add a new member, we need to do the usual mapping plus this proposed initialization (btw, it's NOT A big deal).

Can't we just configure the `pylintrc` to assume that `m3u8` [has generated-members](https://docs.pylint.org/en/1.6.0/features.html)?

[code]

I'm always trying to avoid adding

[2021-02-23 14:20] Horstage commented on #242
Yet another pylint config, I didn't know existed. Thanks!
I'm fine with this solution and do see why you would handle it this way.
For me, this issue is now resolved.

[2021-02-24 11:35] Creepercdn opened #244 "Parse Error when no #EXTINF"
I'm try use m3u8 to parse a normal playlist, for example:
[code]
Example code:
[code]
`playlist.dumps()` will return `"#EXTM3U\n"`

[2021-02-24 14:01] leandromoreira commented on #244
@Creepercdn your hls playlist/manifest is invalid and the [#EXT-X-INF](https://tools.ietf.org/html/rfc8216#section-4.3.2.1) is expected for variant playlist. This library covers only the [official tags and its specification](https://tools.ietf.org/html/rfc8216#section-1).

[2021-02-24 14:03] Creepercdn commented on #244
This isn't a variant playlist. It just is a playlist, like a VLC playlist.

[2021-02-24 17:18] leandromoreira commented on #244
@Creepercdn I see, this library was made to specifically handle [HLS playlists](https://tools.ietf.org/html/rfc8216#section-1).

[2021-02-25 01:45] Creepercdn commented on #244
VLC playlist will export song info using #EXTINF, but no #EXTINF also will work. I think #EXTINF is not always need.

[2021-02-25 02:08] leandromoreira commented on #244
It seems the tag is required.

[code]

[2021-02-25 11:08] Creepercdn commented on #244
But no #EXTINF still works. I don't want to specified duration time, and I think sometimes do not need #EXTINF.

[2021-03-06 18:11] mradecki commented on #116
@flavioribeiro Any update on that?

[2021-03-08 04:43] flavioribeiro commented on #116
Hey, @mradecki! my update is that I still have the same thinking about it. I haven't really signed up for any work on this, but I can see some use cases in the wild doing down to what was proposed above!

[2021-03-23 04:37] SeaHOH opened #245 "urllib.parse.urljoin use is wrong in case double slash path"
Now m3u8
[code]
Changes
[code]

[2021-03-23 22:35] leandromoreira commented on #245
hi @SeaHOH thanks for the demonstration, but isn't easier to sanatize the urls before you pass them to the lib?

[2021-03-23 22:36] leandromoreira commented on #245
because maybe someone is genuinely using `//` as well.

[2021-03-23 23:34] SeaHOH commented on #245
As you say (in fact I posted this issue), some URLs were used double slash in its path. So, sanitize what? I don't know what do you mean. Can you give a demonstration?

[2021-03-24 01:11] leandromoreira commented on #245
I see @SeaHOH sorry I misunderstood your question, thanks for showing this issue, do you mind to do a PR?

[2021-04-06 04:45] SeaHOH commented on #245
Is there anybody can reviewe and merge #246 ?

[2021-04-06 23:07] SerhiyRomanov commented on #229
My opinion is that you have to upgrade to Python 3.x as soon as possible)

[2021-04-19 19:50] futzu opened #248 "state['current_cue_out_scte35'] and state['current_cue_out_duration'] remain after #EXT-X-CUE-IN"
simple-scte35.m3u8
[code]
* Example
[code]
   *  #EXT-X-CUE-IN is at third segment
   * scte35 and duration should not appear in the fourth segment
[code]

[parser_patch.txt](https://github.com/globocom/m3u8/files/6338703/parser_patch.txt)

[code]

[2021-05-28 21:10] daveisfera opened #253 "S3 treated as a local file"
I'll submit a PR to fix this

[2021-05-29 19:22] Sim4n6 opened #255 "Couple suggestions for the project"
Please, provide this details to the repository so to make it easy for newbie dev comers :-)

- [ ] roadmap file.
- [ ] "good first issue"
- [ ] Discussions section

[2021-05-31 14:08] #253 closed

[2021-06-07 07:58] #255 closed

[2021-07-02 23:33] drandreaskrueger opened #256 "ValueError: could not convert string to float"
I get an uncaught exception:

    ... m3u8/parser.py", line 241, in _parse_extinf
    state['segment']['duration'] = float(duration)
    ValueError: could not convert string to float: '-1 tvg-logo="https://i.imgur.com/3wQJsKQ.jpg" group-title="24/7 WORLD NEWS"'

when doing this

[code]

with this file.m3u:
[code]
which is from a standard IPTV file you find on the internet.

If that is a special pr

[2021-07-12 13:36] stoyanovgeorge opened #257 "Add support for #EXT-X-SESSION-KEY"
Could you please add support to `#EXT-X-SESSION-KEY` (https://datatracker.ietf.org/doc/html/rfc8216#section-4.3.4.5).

Example Manifest:
[code]

[2021-07-13 13:01] davemevans commented on #257
Looks like it's already supported (added by https://github.com/globocom/m3u8/pull/172), it just appears to be missing from the list of supported tags.

[2021-09-29 15:27] SerhiyRomanov commented on #256
Currently, this library doesn't support parsing IPTV playlists. You can see some progress which I achieve to bring support of IPTV here https://github.com/globocom/m3u8/pull/247

[2021-10-05 06:13] SeaHOH commented on #245
update: new PR #263

code:
[code]

[2021-11-16 02:47] futzu commented on #248
Six months. No reply.

That is super uncool.

[2021-11-16 02:47] #248 closed

[2022-01-13 04:03] #245 closed

[2022-01-14 16:08] davemevans commented on #257
Fixed via #262.

[2022-01-14 21:46] #257 closed

[2022-01-15 10:49] #244 closed

[2022-02-06 10:49] girod2033 opened #272 "Add KEYID"
Hello.

I got m3u8 with the following content:
"#EXT-X-KEY:METHOD=SAMPLE-AES-CTR,URI="data:text/plain;base64,AAAANnBzc2gAAAAA7e+LqXnWSs6jyCfc1R0h7QAAABYaB3RlbmNlbnQiC2EwMDQxbmswcmhs",KEYID=0xDBD23140D943E5B1F0860CAF3F181083,KEYFORMATVERSIONS="1",KEYFORMAT="urn:uuid:edef8ba9-79d6-4ace-a3c8-27dcd51d21ed""

Please add output of "KEYID" value.
Thx.

[2022-02-06 12:30] rokam commented on #272
I don't think that keyid is part of the standard.
https://datatracker.ietf.org/doc/html/draft-pantos-http-live-streaming-16#section-4.3.2.4

You can extract it with a custom parser: https://github.com/globocom/m3u8/blob/master/README.rst#custom-tags

[2022-02-06 13:28] girod2033 commented on #272
Done, thanks again.

[2022-02-06 13:28] #272 closed

[2022-02-19 03:09] elinaldosoft commented on #136
I created this method
[code]

[2022-02-20 04:14] erickythierry opened #273 "how to use for live stream mp2t format?"
hello, i have access to a streaming url which gives me a constant stream of chunked data in mp2t format.
ex: https://live.mydomain.com

if I put this url in a player like vlc, it opens the transmission normally. but I would like to make this stream url available in an m3u8 file. however I only find tools and tutorials that allow this from static files like mp4. could you tell me how to generate an

[2022-03-24 23:03] fah commented on #208
In Jupyter(via Anaconda) I tried:
[code]

​Result:
[code]

m3u8 is the only library that I can not install with "!pip".

[2022-04-01 10:29] sjehuda opened #274 "M3u8 on XBMC"
Please excuse me, I didn't find a better place to ask this.

I was referred to this project via https://kodi.wiki/view/Add-on:M3u8
According to that page, Kodi has a module/plugin for this.
I didn't find installation documentation nor did I find it by searching for m3u/m3u8 via Kodi itself.

Any help is most appreciated.
Thank you

[2022-04-01 10:30] sjehuda commented on #274
Sorry again. I've found a zip file at https://kodi.tv/addons/matrix/script.module.m3u8

[2022-04-01 10:30] #274 closed

[2022-04-05 22:51] mauricioabreu commented on #208
Which operating system are you using @fah ? So I can reproduce the bug using a container system

[2022-04-06 08:45] fah commented on #208
That's on a Mac with 11.6.5 Big Sur. Thank you!

[2022-04-07 16:20] pandamoon21 opened #275 "ValueError: not enough values to unpack"
Hi, I'm trying to load an m3u8 and got an exception.
I'll post the URL here so it can be checked by the dev,
[code]

[2022-04-10 23:55] mauricioabreu commented on #275
Thank you! @pandamoon21
We're investigating what may have caused this error.

[2022-04-11 00:21] mauricioabreu commented on #275
Your playlist has a little problem. The second line is `#EXT-X-PLAYLIST-TYPE=VOD` but it should be `#EXT-X-PLAYLIST-TYPE:VOD` with a colon separating the tag from the value.

[2022-04-11 00:34] mauricioabreu commented on #275
Closing. If you think the reason to close this issue was not valid, reopen, please

[2022-04-11 00:34] #275 closed

[2022-04-11 00:47] mauricioabreu commented on #273
Is this a public URL? Which kind of content does this URL have?

[2022-04-11 11:41] mauricioabreu commented on #242
Sorry for taking so long. Well, yes, since this project does not have a pylintrc, you can edit your pylint configuration with @leandromoreira suggestion.

[2022-04-11 11:41] #242 closed

[2022-04-11 23:50] mauricioabreu commented on #234
@viktorfreiman Well, I don't think it is a problem with the lib. The `EXT-X-MAP` tag must be before every segment.

From the docs

   Section ([Section 3](https://datatracker.ietf.org/doc/html/draft-pantos-http-live-streaming#section-3)) required to parse the applicable Media Segments.
   It applies to every Media Segment that appears after it in the
   Playlist until the next EXT-X-MAP tag or unt

[2022-04-12 00:00] mauricioabreu commented on #234
`EXT-X-MAP` is a tag designed to be placed before every segment, so, yes, I think we can have many of them and we must know which ones we want to update before hand. Do you think a helper method to update all of them at once would help? About changing the `segment_map` I think it is a bug, thank you.

[2022-04-12 00:18] mauricioabreu commented on #256
Thank you @SerhiyRomanov

[2022-04-12 00:18] #256 closed

[2022-04-12 00:26] mauricioabreu commented on #229
I agree with @SerhiyRomanov

[2022-04-12 00:26] #229 closed

[2022-04-12 00:40] mauricioabreu commented on #92
I'm closing this because it is something that we believe that should be achieved out of this lib. If you are not okay with this, please, reopen.

[2022-04-12 00:40] #92 closed

[2022-04-21 10:44] Anjalivishnoi opened #276 "Support to get values for multiple EXT-X-MAP tags"
An HLS media playlist could have multiple number of EXT-X-MAP tags within media playlist but currently we could only retrieve one map tag's value via segment_map attribute of parsed m3u8.
The latter is pretty common usecase specially for CMAF content containing Discontinuous segments which may require multiple MAP tag's. The ask with this issue is to add support for getting a list of MAP tag's ana

[2022-04-22 11:05] yf718 opened #277 "0.9.0时获取segments的uri成功，但是升级到1.0.0后失败"
m3u8文件：

#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:10
#EXT-X-MEDIA-SEQUENCE:0
#EXTINF:10.000000,
#EXT-X-PRIVINF:FILESIZE=875892
https://lvo-live.youku.com/67756D6080932713CFC02204E/0300070000625D6BCB8BB780000000F15A1F9A-67FC-4248-8AAB-4F64A740DEF2-00001.ts?ccode=03020101&duration=5758&expire=18000&psid=8f8ae3a6ed020d2676c35e8750021b1441346&ups_client_netip=&ups_ts=1650621796&ups_userid=&apsci

[2022-04-22 11:18] #277 closed

[2022-04-22 11:18] yf718 commented on #277
1

[2022-04-23 12:45] mauricioabreu commented on #276
@Anjalivishnoi are you aware how EXT-X-MAP works, right? The one and only option I see here is to provide a method to get EXT-X-MAP for every segment. Are you okay with this solution?

[2022-04-25 07:13] Anjalivishnoi opened #278 "Getting BYTERANGE attribute for #EXT-X-MAP"
#EXT-X-MAP tag consists of an optional attribute BYTERANGE for cases where initialization segments are not independent segments and are part of some other segment.
Currently we can only get uri for this field via parsed_m3u8.segment_map['uri'].
There are pretty common usecases where BYTERANGE would be specified as part of EXT-X-MAP specially for CMAF content.
Ask with this issue is to add support

[2022-04-25 07:19] Anjalivishnoi commented on #276
@mauricioabreu : Yes that's right.
It would be somewhat analogous to keys hence providing means to get list of maps for a parsed m3u8 similar to how it is done for keys(parsed_m38_obj.keys) would be really helpful.

Along the same lines also check https://github.com/globocom/m3u8/issues/278 which i believe could be clubbed with this ask.
Thanks for looking into this.

[2022-04-25 09:11] davemevans commented on #278
Map byterange should already be available where the attribute is present using `parsed_m3u8.segment_map['byterange']`. This can be shown by applying the following patch, after which the test will still pass:

[code]
I agree it does kind of suck that the quotes are not removed as normal with quoted-string attributes. This would be a simple one-liner change in the parser and model to acheive this.

[2022-04-26 23:30] mauricioabreu commented on #278
@Anjalivishnoi can you paste your HLS playlist here?

[2022-04-27 06:04] Anjalivishnoi commented on #278
Basic Sample manifest which could be used to test this Issue :

`#EXTM3U
#EXT-X-TARGETDURATION:6
#EXT-X-VERSION:7
#EXT-X-MEDIA-SEQUENCE:1
#EXT-X-PLAYLIST-TYPE:VOD
#EXT-X-INDEPENDENT-SEGMENTS
#EXT-X-MAP:URI="main.mp4",BYTERANGE="719@0"
#EXTINF:6.00000,
#EXT-X-BYTERANGE:1508000@719
main.mp4
#EXTINF:6.00000,
#EXT-X-BYTERANGE:1510244@1508719
main.mp4
#EXTINF:6.00000,
#EXT-X-BYTERANGE:1504861@3018963
m

[2022-04-27 11:24] mauricioabreu commented on #276
@Anjalivishnoi I'm working on it

[2022-04-27 11:59] mauricioabreu commented on #278
I just opened a new pull request https://github.com/globocom/m3u8/pull/279

It will solve both #276 and this #278

[2022-04-28 01:10] mauricioabreu commented on #278
Fixed via #279

[2022-04-28 01:10] #278 closed

[2022-04-28 01:10] mauricioabreu commented on #276
Fixed via #279

[2022-04-28 01:10] #276 closed

[2022-06-18 07:28] Gorcon-user opened #281 "Installation unter Libreelec?"
Hello, how to get this installed on Libreelec (Kodi)?

[2022-07-05 15:52] davemevans opened #283 "Parsing and dumping of multiple EXT-X-KEYs per segment is not supported"
The HLS spec is clear that a segment may be preceeded with multiple EXT-X-KEY tags, so long as they resolve to a single decryption key. This allows multiple DRMs to be supported using Common Encryption.

When the example playlist below is parsed, `segment[0]['key']` only lists the last key that preceeded the segment. Dumping the playlist object results in only the last key preceeding the segment a

[2022-07-12 13:59] bbayles opened #284 "Quoting rules for CLOSED-CAPTIONS EXT-X-STREAM-INF"
In response to issue https://github.com/globocom/m3u8/issues/122, PR https://github.com/globocom/m3u8/pull/125 removed quotes from the `CLOSED-CAPTION` attribute in `EXT-X-STREAM-INF`.

However, I've found that this causes problems with at least one system. Looking to [RFC 8216](https://datatracker.ietf.org/doc/html/rfc8216#section-4.3.4.2), I find:

[code]

That is, any value except for `NONE` ne

[2022-07-13 20:43] bbayles commented on #283
Subscribing as an interested observer...

I think this is a good idea.

Documentation could be added to say that `Segment.key` is the one immediately preceding the media file. This would be backward compatible, I think? `SegmentList.by_key` could be documented such that it mentions this constraint as well.

[2022-07-16 22:29] darkbaboon opened #287 "Add support to tag #EXT-X-IMAGE"
Image Media Playlist for HLS (also known as Thumbnails) introduced a new tag #EXT-X-IMAGE in HLS Playlist.
Roku is one example of a platform that implements this specification which is located here:
[https://github.com/image-media-playlist/spec/blob/master/image_media_playlist_v0_4.pdf](https://github.com/image-media-playlist/spec/blob/master/image_media_playlist_v0_4.pdf)
This tag #EXT-X-IMAGE is

[2022-07-17 02:35] theoctober19th commented on #136
@elinaldosoft Works like charm. Thanks!

[2022-07-20 23:10] vevv commented on #283
I would go with an empty list, then it would match the main `M3U8` playlist object.

[2022-07-24 23:20] mauricioabreu commented on #281
Hello @Gorcon-user I don't know what is Libreelec. Have you tried installing m3u8 through pip?

[2022-07-24 23:24] mauricioabreu commented on #273
If you need more help, please, reopen the issue.

[2022-07-24 23:24] #273 closed

[2022-07-25 02:06] mauricioabreu commented on #284
PR #285 merged

[2022-07-25 02:06] #284 closed

[2022-07-25 02:08] mauricioabreu commented on #287
I did not know about the existence of #EXT-X-IMAGE
Give me some time to read about it

[2022-07-25 02:18] mauricioabreu commented on #208
Sorry for taking so long @fah
I could not reproduce the problem, even using an Anaconda docker container

[code]

[2022-07-25 12:36] rokam commented on #281
@Gorcon-user this is a library, it can be used by Kodi addons although it doesn't have an use directly with Kodi. As I know, there isn't a module addon to encapsulate this.

[2022-07-25 13:51] mauricioabreu commented on #281
Thank you @rokam

@Gorcon-user can we close this issue?

[2022-07-25 15:56] Gorcon-user commented on #281
Yes

[2022-07-25 17:05] #281 closed

[2022-07-25 22:31] vevv opened #289 "Quotation marks in VIDEO-RANGE property"
According to the specification, this is an enumerated-string property, with SDR, HDR and PQ as valid values. Enumerated strings should not contain quotes, see https://github.com/globocom/m3u8/pull/285 for string type definitions.

Video range definition:

Easy to fix: `video_range` needs to be added the params passed to `remove_quotes_parser` [here](https://github.com/globocom/m3u8/blob/master/m3u

[2022-07-28 03:10] mauricioabreu commented on #289
Hello @vevv thank your for reporting the problem.
Can you provide an example? I couldn't find in the code where these quotation marks are being used to enclosure video range values.

[2022-07-29 13:49] bbayles commented on #289
I think the library currently does the right thing.

There's an example playlist with `VIDEO-RANGE` [here](https://developer.apple.com/documentation/http_live_streaming/http_live_streaming_hls_authoring_specification_for_apple_devices/hls_authoring_specification_for_apple_devices_appendixes).

You can see from this snippet that the `SDR` value is correctly not quoted after a `loads` and `dumps` cy

[2022-07-29 13:49] bbayles commented on #289
[These playlists](https://github.com/globocom/m3u8/blob/73eb2b7b28839ea2759dbac7343f6f9a4f681950/tests/playlists.py#L166-L178) in the test suite do seem to have strange trailing quotes; those should probably be removed.

[2022-07-29 15:45] mauricioabreu commented on #289
Thank you @bbayles removed and pushed to master already

[2022-07-29 15:45] mauricioabreu commented on #289
Can I close this issue @vevv ?

[2022-07-29 18:09] vevv commented on #289
Example playlist I've ran into:
[code]

SDR is quoted, I suppose this is a faulty playlist then. Still, would be nice to strip it in the library for those cases.

[2022-07-30 13:16] mauricioabreu commented on #289
@vevv cool! I added the `video_range` to the line you said. It should fix the problem. Thank you!

[2022-07-30 13:16] #289 closed

[2022-07-31 11:54] mauricioabreu commented on #208
In case you still have problems downloading m3u8, reopen this issue please

[2022-07-31 11:54] #208 closed

[2022-08-05 22:14] #183 closed

[2022-08-10 03:31] arix00 opened #291 "playlist.dump() fails when saving file to root folder on Windows."
I guess nobody saves m3u8 on root directory but r: is a ramdisk on my system and following code will fail

`playlist.dump("r:/aaa.m3u8")`

with access  denied error.

https://github.com/globocom/m3u8/blob/50963a865b09396302284a300ec8aff5e8317bbc/m3u8/model.py#L369-L376

so maybe add `exist_ok=True`? or an extra check for root folder?

[2022-08-10 18:14] bbayles commented on #291
https://github.com/globocom/m3u8/pull/292 should fix this. Can you confirm?

[2022-08-10 23:05] arix00 commented on #291
Thanks. Tested and all good now.

[2022-08-10 23:05] #291 closed

[2022-09-23 11:48] martinkg opened #295 "with the new version 3.3.0, the old version 3.2.0 is still in the setup.py file"
Hi,

with the new version 3.3.0, the old version 3.2.0 is still in the setup.py file.

setup.py:    version="3.2.0",

[2022-09-25 20:32] #295 closed

[2022-10-02 08:14] vasudevavarun opened #297 "Sort playlist according to bandwidth"
Hi!

Is their any way in by which I can sort my m3u8 according to bandwidth?

#EXT-X-INDEPENDENT-SEGMENTS
#EXT-X-MEDIA:TYPE=AUDIO,URI="eng.m3u8",GROUP-ID="default-audio-group",LANGUAGE="en",NAME="eng",AUTOSELECT=YES,CHANNELS="2"
#EXT-X-STREAM-INF:BANDWIDTH=6707127,AVERAGE-BANDWIDTH=4113283,CODECS="avc1.4d4029,mp4a.40.2",RESOLUTION=1920x1080,FRAME-RATE=25.000,AUDIO="default-audio-group",CLOSED-CAPT

[2022-10-02 13:30] mauricioabreu commented on #297
Hello @vasudevavarun yes. You can load the playlist and then you have an object. You can rearrange the playlists and dump them again. Do you need some help to do this?

[2022-10-02 13:38] vasudevavarun commented on #297
Yes please, That would be really helpful.

[2022-10-05 11:05] hecoter opened #298 "#EXT-X-KEY:MEATHOD=AES-128, unable to parse this tag"
key: E8eSGRhvfWewxYq2vDNgYg==
m3u8url: https://secret.orthoday.com/secret/c8c5c46437dc446b9034186fcf8ca427/guoqingyundongyixue02.m3u8
method: AES-128-ECB

`import m3u8

m3u8url = 'https://secret.orthoday.com/secret/c8c5c46437dc446b9034186fcf8ca427/guoqingyundongyixue02.m3u8'
m3u8obj = m3u8.load(m3u8url)`

That's my code, when I use this package to parse this m3u8url, it occurred a error like this:

[2022-10-05 16:54] bbayles commented on #298
The problem is the spelling of `METHOD`. It does not have an `A` character in it.

[2022-10-05 16:58] bbayles commented on #297
This will do what you want:

[code]

This gets you:

[code]

[2022-10-05 18:05] #297 closed

[2022-10-05 21:53] mauricioabreu commented on #297
Thank you @bbayles

[2022-10-05 21:53] mauricioabreu commented on #298
Thank you @bbayles

[2022-10-06 01:11] hecoter commented on #298
He misspelled it on purpose to prevent parsing. Is there any way I can use it normally?

[2022-10-06 01:33] mauricioabreu commented on #298
@hecoter who is "he"?
You can replace `MEATHOD` with `METHOD` and you are good to go

[2022-10-06 02:33] hecoter commented on #298
如果将m3u8文件先下载下来，再去替换 `MEATHOD` 会导致`base_uri` 为空，我需要自己解析`base_uri`吗？是否有一个完整的示例可供参考？谢谢。

If I download the M3U8 file first, then replace `MEATHOD` will cause `base_uri` to be empty, do I need to parse `base_uri`? Is there a complete example for reference? thank you.

[code]

[2022-10-06 17:47] leandromoreira commented on #298
you can always try to use your custom tag parser https://github.com/globocom/m3u8#custom-tags

[2022-10-07 02:16] hecoter commented on #298
Problem solving,Thank you.

[2022-10-07 02:16] #298 closed

[2022-10-11 04:34] shutwin opened #299 "Can this program support multi thread downloading?"
Can this program support multi thread downloading?

[2022-10-11 12:14] rokam commented on #299
Hi, I don't see any benefits for multithreading support inside the lib. As the lib just downloads 1 file.
Maybe you can create threads before calling `m3u8.load(url)`:  https://docs.python.org/3/library/threading.html

[2022-10-11 23:05] shutwin commented on #299
你好，我的意思是用咱们的模块来多线程下载 .ts 文件，而不是m3u8文件。直接调用模块来进行多线程下载.ts文件列表，这样更方便一些。

[2022-10-13 21:11] bbayles commented on #299
[Here](https://gist.github.com/bbayles/d4df156ecbd4a162f279ed2f8465124e) is a script for multi-threaded downloading of TS files from an M3U8 playlist.

[2022-10-14 08:13] utkrist opened #301 "Dump and dumps functions do not show subtitles and audio fields added to stream_info"
I want to inject audios and subtitles in m3u8 file.  The first step is to add new audios and subtitles as media. The second step would be to add subtitle and audio field in the renditions list.

The initial file looked like this:

[code]

The modified file should look like this:

[code]

With  the code below the medias get added successfully but the AUDIO and SUBTILES fields do not get added in th

[2022-10-17 14:46] bbayles commented on #301
Try this code:

[code]

[2022-10-17 15:35] rokam commented on #301
I don't think this will do the job. The issue is the missing of the TAGs: AUDIO="Audio",SUBTITLES="Subtitle" inside the EXT-X-STREAM-INF.

[2022-11-16 16:25] rafrafek opened #306 "Updating m3u8 from 0.3.7 to 3.3.0 breaks frame_rate format"
I'm trying to bump version of m3u8 from 0.3.7 to 3.3.0 in one of my projects, but it breaks `frame_rate` format.

Before:

[code]

After:

[code]

Raw data from curl:

[code]

Is it a bug or a desired change?

[2022-11-16 16:56] bbayles commented on #306
Likely changed in https://github.com/globocom/m3u8/pull/149.

The difference is `str` (old) vs. `float` (new). I think the new behavior is desirable.

The spec says:

[code]

`decimal-floating-point` is described as:

[code]

So it makes sense for the parser to hand back a `float` instance.

[2022-11-16 17:23] rafrafek commented on #306
Thanks for your quick reply!

The problem in my case is that I have a map of possible fps values in mp4box format, e. g. `25.000` means `25/1`. For raw values it is easy, because I know all possible raw values of my streams. Some of them have non-float raw value, e.g. `24000/1001`. I don't know how should I map it with float values.

Is there any way to preserve raw `FRAME-RATE` value of playlists

[2022-11-16 17:29] rokam commented on #306
Can't you just divide  24000 / 1001?

[2022-11-16 17:33] rafrafek commented on #306
Should I map `23.976023976023978` or `23.976` in this case?

[2022-11-16 17:39] rokam commented on #306
I think you don't need to care.  Both will be stored as 23.976 inside the m3u8 file.

[2022-11-16 17:42] rafrafek commented on #306
I don't use raw m3u8 file. I use object created by m3u8 Python module.

[2022-11-16 17:51] bbayles commented on #306
You can do this:

[code]

[2022-11-16 17:59] rafrafek commented on #306
Thanks!

[2022-11-16 17:59] #306 closed

[2022-11-17 04:59] Trungdo253 opened #307 "Append file m3u8"
file 1.m3u8
#EXTM3U
#EXT-X-VERSION:7
#EXT-X-INDEPENDENT-SEGMENTS
#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="1",NAME="none",AUTOSELECT=YES,DEFAULT=YES,CHANNELS="2",URI="chunklist_5_audio_LQjVYCeD_llhls.m3u8"

#EXT-X-STREAM-INF:BANDWIDTH=3628000,RESOLUTION=1280x720,FRAME-RATE=30.0,CODECS="avc1.42c01f,mp4a.40.2",AUDIO="1"
chunklist_2_video_LQjVYCeD_llhls.m3u8
#EXT-X-STREAM-INF:BANDWIDTH=628000,RESOLUTION=1280

[2022-11-24 08:46] HFrost0 opened #308 "With seg.key but seg.key.iv is None"
When we need AES to decrypt segment, IV is important. In some m3u8 file, iv is not provided while can be generated by a specific rule which I found in [decrypt-m3u8-playlist-encrypted-with-aes-128-without-iv](https://stackoverflow.com/questions/50628791/decrypt-m3u8-playlist-encrypted-with-aes-128-without-iv)

Can we do this process in m3u8 lib instead of leave the seg.key.iv to None (I found this

[2022-11-26 16:44] liam8888999 opened #309 "Help setting up"
How would one go about setting this up with tvheadend. Is it even possible